[2015-06-01 20:57] prtome commented on #923
OH yes I see, I would give a name to the child row, and like this I would manage it in the callback. Need to study that. I could have the child row without a parent-rowspan which would simplify
I have forked the fiddle http://jsfiddle.net/r0u8kutg/  , adding a hidden column, and a hidden row (in this case no child row).
my understanding was: I add option visible, and then the hidden row will not o

[2015-06-01 21:14] Mottie commented on #906
@Francks11!

TheSin- will yell at me for sharing this, but I actually need to modify what I was saying before....

Say you have a table with 9 columns, and you have a info-only `tbody` with a cell set with `colspan="9"`. To make this work with the scroller, and have 2 fixed columns, you'll need to split that one cell into **3 cells**:

* `<td colspan="2">`: visible in the fixed column
* `<td style

[2015-06-01 21:31] Mottie commented on #923
Actually, the callback would only provide the resulting CSV or JSON, so you may not be able to differentiate the rows that way.

I just pushed an update to the master branch which now allows the `data-name` data-attribute to contain an empty string.

[2015-06-01 22:07] Francks11 commented on #906
Thanks a lot @Mottie :-).

Have you try with Internet Explorer?

I see line alignement issue... :-(

oh Internet Explorer...

![capture](https://cloud.githubusercontent.com/assets/3995851/7924393/1021ea34-08bb-11e5-80d0-61ff9636e1ed.png)

Another small effort and it is good :-)

[2015-06-01 22:20] TheSin- commented on #906
Hottie just for notes this is the same issue as firefox, I'm willing to bet the div it showing up even though the scrollbars aren't.  again this is just for notes since I can't test this.

[2015-06-01 22:20] TheSin- commented on #906
Mottie you Hottie, or at least my computer things so ;)

[2015-06-01 22:23] Mottie commented on #906
Your computer needs glasses :stuck_out_tongue:

[2015-06-02 07:14] SPlatten commented on #924
I'm doing something wrong here...

I click on External Resources, add the file name, but how do I upload the
content of the file?  I don't see any upload options.

I'm absolutely positive that I have done this before, but can't see why I
can't do it now.

On 1 June 2015 at 21:54, Rob G <notifications@github.com> wrote:

--
 <http://about.me/SPlatten>
[image: Simon Platten on about.me]

Simon Platt

[2015-06-02 07:40] Cr3z opened #925 "Unable to change column width in DataTables"
Hi! I actually use Datatables plugin on my website with inputs-research area in each column header.
It works well but the column width is fixed at 169px (probably due to the search inputs) and I don't know how to resize it to fit to my data width.

Can you help me please?

Here's my .js:

[code]

[2015-06-02 07:46] Cr3z commented on #925
Here's a view of the result:
![capture](https://cloud.githubusercontent.com/assets/12269381/7930843/3484d52a-090c-11e5-878a-c3fe616ecf09.PNG)

[2015-06-02 07:56] Francks11 commented on #925
Hi @Cr3z,

I think, it is not the good project to report your issue.

Here it is tablesorter.

:-)

[2015-06-02 07:59] Cr3z commented on #925
Yes sorry i'm new on Git and I didn't found where to post my issue :/

[2015-06-02 08:01] Francks11 commented on #925
You can post your issue here https://github.com/DataTables/DataTables

[2015-06-02 08:02] Cr3z commented on #925
Ok thanks ^^'

[2015-06-02 08:03] prtome commented on #923
Thanks, I have to rethink my whole process I think.
one think that is not clear to me (sorry english is not my first lang, so I might be missing something)
output_saveRows ? I understand 'f' means I must write the filter, but the difference between visible and all ? in my fiddle test, whichever I use I get the same result.
output_hiddenColumns : true   desc: Include hidden columns (using display:

[2015-06-02 08:03] #925 closed

[2015-06-02 08:43] SPlatten commented on #924
Below is a demo that illutrates one of the issues I'm facing, if there are
less than a 10 items in the table, the headers do no work correctly, the
bottom header is in the wrong place.

<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
    <title>jQuery plugin: Tablesorter 2.0 - Scroller Widget</title>

    <link rel="stylesheet" type="text/css"
href="/jquery/jquery-ui.min.css"/>
    <link rel

[2015-06-02 11:58] prtome commented on #923
I may have found a solution for the children rows (may, because it is half working only - and not usre it is supposed to work that way ;)
- no rowspan on parent row
-added  widget option output_saveRows      : 'f'
download click is
$(".download").click(function(){
        $('.tablesorter-childRow').addClass('filtered');   //<--- this works !!!!
       $('.compList').trigger('outputTable');

[2015-06-02 13:59] SPlatten commented on #924
I've been trying to resolve some of the issues and making some progress.  The page I posted above has different issues to the ones I'm experiencing on the live build.

The live environment builds the table content from a socket feed, jquery.tablesorter.combined.js was erroring on line 4068, it turns out that the array setFilters was 0 length and was trying to reference the 0 element.

I added:

[2015-06-02 14:25] Francks11 commented on #906
Hi @Mottie,

I have already try scroller_jumpToHeader or scroller_upAfterSort and it doesn't work for me. You can try here : http://jsfiddle.net/oqfq47fc/57/

If I resize window, the scrollbar go to top...

These options don't work with fixed column. I have try with your demo and I have the same issue : http://jsfiddle.net/856bzzeL/465/

If I remove fixed columns, its works. There is a bug.

I saw

[2015-06-02 14:40] Mottie commented on #906
The IE issue has not been resolved. I name my commits as to what they fix. If you don't see a commit that says something like fixes IE issue, then it's not fixed.

[2015-06-02 14:56] Mottie commented on #924
Yeah, I noticed that the fixed column footer gets pushed down when a table has less than 10 or so rows. This appears to be a problem introduced in some recent updates.

I still don't know why that line is causing an error, but from your code it's due to an undefined value... hmmm.

[2015-06-02 14:59] TheSin- commented on #924
is there an example of the issue with 10 or less rows?  I'm sure I tested this it's why I added 5 as an option to the pager during our tests :\

[2015-06-02 15:05] Mottie commented on #924
http://jsfiddle.net/1a5yu8yq/28/

[2015-06-02 15:05] SPlatten commented on #924
The HTML I posted will show it, with only 1 row in the table.

On 2 June 2015 at 15:59, Justin F. Hallett <notifications@github.com> wrote:

--
 <http://about.me/SPlatten>
[image: Simon Platten on about.me]

Simon Platten
about.me/SPlatten
    <http://about.me/SPlatten>

[2015-06-02 15:06] SPlatten commented on #924
Yep, notice how the fixed column footer headers are screwed up.

2015-06-02 16:05 GMT+01:00 Rob G <notifications@github.com>:

--
 <http://about.me/SPlatten>
[image: Simon Platten on about.me]

Simon Platten
about.me/SPlatten
    <http://about.me/SPlatten>

[2015-06-02 15:06] TheSin- commented on #924
that's lots of work to copy and sort through that paste, hence why I asked for demo ;)  Thanks Mottie I'll look into this issue.

[2015-06-02 15:10] SPlatten commented on #924
Not sure if this thread is in sync with github, but I posted more
information on github.

On 2 June 2015 at 16:06, Justin F. Hallett <notifications@github.com> wrote:

--
 <http://about.me/SPlatten>
[image: Simon Platten on about.me]

Simon Platten
about.me/SPlatten
    <http://about.me/SPlatten>

[2015-06-02 15:17] SPlatten commented on #924
I discovered what the break between the fixed columns and the scrollable
columns is....Around my div container, I had <center></center>  tags,
removing these removes the gap.  However there is still a difference
between the data row and the header row total lengths and no footer header
row.

On 2 June 2015 at 16:10, Simon Platten <simonaplatten@gmail.com> wrote:

--
 <http://about.me/SPlatten>
[im

[2015-06-02 15:20] SPlatten commented on #924
Another possible, in my datarows, I have <br /> between multiple data
items, these seem to screw up the column widths.

On 2 June 2015 at 16:17, Simon Platten <simonaplatten@gmail.com> wrote:

--
 <http://about.me/SPlatten>
[image: Simon Platten on about.me]

Simon Platten
about.me/SPlatten
    <http://about.me/SPlatten>

[2015-06-02 15:27] SPlatten commented on #924
I'm puzzled, this all seems ok:

http://jsfiddle.net/SimonPlatten/1a5yu8yq/38/

Apart from the headings on the footer.

On 2 June 2015 at 16:20, Simon Platten <simonaplatten@gmail.com> wrote:

--
 <http://about.me/SPlatten>
[image: Simon Platten on about.me]

Simon Platten
about.me/SPlatten
    <http://about.me/SPlatten>

[2015-06-02 15:41] TheSin- commented on #924
I already have it fixed for you, I'm just chatting with Mottie to finalize it.

http://jsfiddle.net/1a5yu8yq/41/

[2015-06-02 15:42] SPlatten commented on #924
Excellent, well done!

On 2 June 2015 at 16:41, Justin F. Hallett <notifications@github.com> wrote:

--
 <http://about.me/SPlatten>
[image: Simon Platten on about.me]

Simon Platten
about.me/SPlatten
    <http://about.me/SPlatten>

[2015-06-02 15:51] Mottie commented on #924
Thanks @TheSin-!

[2015-06-02 15:55] SPlatten commented on #924
What do I need to replace?

On 2 June 2015 at 16:51, Rob G <notifications@github.com> wrote:

--
 <http://about.me/SPlatten>
[image: Simon Platten on about.me]

Simon Platten
about.me/SPlatten
    <http://about.me/SPlatten>

[2015-06-02 15:58] TheSin- commented on #924
he just added the fix to git master, so just flush your cache should fix it.

[2015-06-02 16:03] SPlatten commented on #924
Ok, columns now line up, please check github for the other things I
reported, which I need to do again in the update.

On 2 June 2015 at 16:58, Justin F. Hallett <notifications@github.com> wrote:

--
 <http://about.me/SPlatten>
[image: Simon Platten on about.me]

Simon Platten
about.me/SPlatten
    <http://about.me/SPlatten>

[2015-06-02 16:06] TheSin- commented on #924
since this is github I really have no idea what you mean, if you have issues just make sure you have a report and it'll get address, I'm not sure where else you would be reporting things honestly.

[2015-06-02 16:19] Francks11 commented on #906
You referenced your commit for this issue 15 hours ago. That's why I ask this question. And on other commit I saw : fix older IE :-)

[2015-06-02 17:10] Mottie commented on #906
I referenced this issue because it has like 8 or 9 issues listed in it; too many, I really just stopped reading them.

[2015-06-02 17:20] Mottie commented on #923
I honestly had no idea what you were expecting in the output, so I'm glad you have it at least partially figured out.

I'm not sure why the child rows are not getting the filtered class removed. It works for me in [this updated demo](http://jsfiddle.net/r0u8kutg/1/). Maybe removing the "filtered" class in the `output_callback` function would work better?

I have never seen that javascript error be

[2015-06-02 17:43] prtome commented on #923
yes, I see that it works there. Strange, I will have to look more. But the hidden columns do not show, whatever I do, even in that demo
 here is the line error in widget-ouput.js 177
The popup shows all the lines .
Thanks for your help

[2015-06-02 17:45] SPlatten commented on #924
Ok, I'm getting some of these notifications on my gmail email account, but other articles I posted didn't come to my gmail, just on here....its all there the posts I made today.

The issues I have now, are that the data rows and header columns to not always line up, I will try to post a jsfiddle showing this if I can replicate on jsfiddle.

[2015-06-02 17:48] TheSin- commented on #924
are you using colspan at all ?

[2015-06-02 17:50] SPlatten commented on #924
No definitely not.

[2015-06-02 17:50] TheSin- commented on #924
okay make sure with your demo you provide what browser/version you are using and steps to reproduce it if there are any.

[2015-06-02 17:52] SPlatten commented on #924
ok, will do, it will have to wait until I get into work tomorrow, its 18:52 here now.

[2015-06-02 20:59] Francks11 commented on #906
I agree with you, it becomes a bit messy... It is difficult to know what is resolved, what is not resolved...

I close this issue and I create individual issue for issue which is not resolved.

Thanks.

[2015-06-02 20:59] #906 closed

[2015-06-02 21:05] Francks11 opened #926 "Scroller Widget - Options scroller_jumpToHeader or scroller_upAfterSort don't work when fixed columns are used"
Options scroller_jumpToHeader or scroller_upAfterSort don't work when fixed columns are used.

You can see a demo here : http://jsfiddle.net/856bzzeL/465/

[2015-06-02 21:12] Francks11 opened #927 "Scroller Widget - Header doesn't scroll without fixed columns"
When we use scroller widget without fixed columns, the header doesn't scroll, and header doesn't match tbody columns.

You can see here a demo : http://jsfiddle.net/856bzzeL/457/

![capture](https://cloud.githubusercontent.com/assets/3995851/7947296/89412a62-097c-11e5-8a33-e5175e39a7f6.png)

[2015-06-02 21:21] Francks11 opened #928 "Scroller Widget - Line doesn't line up with Internet Explorer 9, 10, 11"
When we use colspan in table body like this :

[code]

Line doesn't line up with Internet Explorer but works good with other browser.

You can see a demo here : http://jsfiddle.net/1a5yu8yq/42/

![capture](https://cloud.githubusercontent.com/assets/3995851/7947521/f436ab8e-097d-11e5-863c-6ccdbbbf9e8e.png)

To better see, go on the bottom of table.

[2015-06-02 21:36] Francks11 opened #929 "Scroller Widget - Colspan in header work only if is not the first row which contains colspan."
TheSin, last ticket I speak of colspan :-p.

Colspan in header work only if is not the first row which contains colspan.

Demo here : http://jsfiddle.net/1a5yu8yq/43/

![capture](https://cloud.githubusercontent.com/assets/3995851/7947814/c6a5b848-097f-11e5-866e-897e42a9e962.png)

If I set colspan in first row, it doesn't work.

Demo here : http://jsfiddle.net/1a5yu8yq/44/

![capture2](https://clou

[2015-06-02 21:40] Mottie commented on #929
Fixed columns in the scroller + colspans do not work.

It would be too work to make colspans work in every situation. So, for now, *Don't use `colspan`s when using the scroller widget with fixed columns.

If you want to tackle the coding, you are more than welcome, but for now this will be unsupported.

[2015-06-02 21:43] Mottie commented on #928
This issue also occurs without info-only tbodies and colspans

[2015-06-02 21:45] Francks11 commented on #929
Okay, I will take a look when I have time :-). The problem is always time :-p.

For now, I have just reported this bug, this lack :-).

[2015-06-02 21:47] Francks11 commented on #928
Yes, indeed, I just saw. Why? A idea?

[2015-06-02 21:48] TheSin- commented on #929
oh it's more then time it has to work for everything not just your use of it.  Since col width and count is based on the first row it'll be very hard to do anything else.

I know you are thinking use first row of tbody, but that will break on blank tables or if filter results are none, etc etc etc.  Not really something that can be coded around, easier to not use it.

[2015-06-02 21:54] Mottie commented on #928
If I knew that, it would be fixed by now.

[2015-06-02 21:56] Mottie commented on #929
Anything is possible... I just don't want, nor do I have time, to add maybe a hundred lines of code just to support colspans in fixed columns.

[2015-06-02 22:00] Francks11 commented on #929
I will take a look when I have time, to see if it is possible to do this without too much line and what are the possible solutions.

[2015-06-03 06:34] SPlatten opened #930 "TypeError: $column.val(...).trigger is not a function in jquery.tablesorter.combined.js"
I caught this error by wrapping the initialisation of tablesorter and tablesorterPager with a try / catch clause.

[code]

The error reported is on line 4068, where i is referencing the array setFilters but it the array is 0 length.  The fix was simple:

[code]
I'm not sure if this points to another issue.

[2015-06-03 06:46] SPlatten opened #931 "Headers and Data rows not lining up, bottom header row missing"
As discussed before this jsfiddle shows the problem I'm experiencing.

http://jsfiddle.net/SimonPlatten/qt1xx7s6/3/

Not all the data rows are shown in this example and they do not line up with the headers, bottom header row is missing.

This is a cut and paste from firebug, so it may not be entirely accurate, but it does show a lot of the issues.

Versions:
jquery.tablesorter.combined.js, v2.22.1

[2015-06-03 11:14] SPlatten commented on #931
I fixed the bottom row header now showing, that was my fault, I was rending the table from a data stream received from a socket.  I was creating the thead content but not the tfoot.

However the issue with the data row columns not lining up with the headers is still an issue, the fixed columns line up perfectly.

[2015-06-03 11:21] miksteri commented on #685
Now I found a version that the links works correctly:
/*! tableSorter 2.16+ widgets - updated 4/23/2014 (v2.16.0)

I don't know the reason why other version didn't work.

[2015-06-03 11:21] SPlatten commented on #931
Have now fixed the issue with the data rows and column widths being different, in the data table I had a style='width:90%' , removing this resolved the issue.  Almost there now, just need to figure out why horizontal scroll bar bar doesn't appear when brower is resized.

[2015-06-03 11:39] SPlatten commented on #931
There are two div wrappers around the tables, both of these get modified with the styles:

element.style {
  display: block;
  height: 455px;
  left: 8px;
  position: absolute;
  top: 84px;
  width: 1503px;
}

I'm not sure why this is done as it doesn't seem to do anything except move the table down abit...and removing them from the DOM doesn't nothing except shift the table up a bit.

[2015-06-03 11:53] SPlatten commented on #931
I have two examples, one that is created by hand which works perfectly, everything now works with no issues.

The other, which is created dynamically using the data from the feed....this has issues, the one that works has an additional div wrapper with the class 'tablesorter-scroller tablesorter-scroller-has-fixed-columns'

The one that doesn't work doesn't have this wrapper.

[2015-06-03 12:43] Mottie commented on #930
Ok, I like to think I have a lot of patience, but man you're really pushing it....

Why are you opening a new issue? We have already discussed this exact same problem in #920  and [#924](https://github.com/Mottie/tablesorter/issues/924#issuecomment-107965089), and you even posted the same code fix in the last issue.

**PLEASE, stop opening the exact same issue more than once.**

Just because an is

[2015-06-03 12:44] Mottie commented on #924
Closing this issue, as it is now discussed in #930.

[2015-06-03 12:44] #924 closed

[2015-06-03 12:47] Mottie commented on #685
Please provide a demo of the issue.

[2015-06-03 12:54] Mottie commented on #931
Why is tablesorter being initialized on an already rendered HTML?

I mean, the HTML was copied from a table already set up using the filter & scroller widget, and then the widgets are applied to it a second time... if I [remove the initialization code](http://jsfiddle.net/qt1xx7s6/4/), the table looks "better", but you can't interact with it..

[2015-06-03 13:24] SPlatten commented on #931
I think that was just the jsfiddle cut and paste.

[2015-06-03 13:41] SPlatten commented on #930
jQuery JavaScript Library v2.1.4

[2015-06-03 14:05] SPlatten commented on #931
Glad to say all issues now resolved and table working correctly.  Hold my hand up, assign one one issue most of the problems were my own.

[2015-06-03 16:32] Mottie commented on #930
Javascript is much more forgiving, it does not cause errors when you manipulate arrays. The value just returns as `undefined`.

Yes, you do need a demo to show me the error; this issue is not obvious... why do you think we've had this difficulty across 3 issues now?

[2015-06-03 16:50] SPlatten commented on #930
Javascript does throw an exception when you  try to reference an undefined element, thats how I trapped it in the first place, with a try / catch clause.

I will try and replicate and post somemthing.

[2015-06-04 11:00] SPlatten opened #932 "Horizontal scroll resets when column sorted."
Not a big deal, but:

Scroll the table horizontally so that some columns are scrolled out of view, click on a header to sort the column.  When sorting data the table view is reset so you have to scroll back to where you were.

Ideally it would be useful if clicking on a column header doesn't appear the horizontal scroll.

[2015-06-04 11:03] Francks11 commented on #932
Can you provide a demo please?

[2015-06-04 13:36] SPlatten commented on #932
http://jsfiddle.net/1a5yu8yq/41/

This shows it quite clearly, scroll right on the horizontal scrollbar, click the header sort order, the table is refresh with the scroll reset to the left.

[2015-06-04 15:06] Francks11 commented on #926
A solution for this? I update table data with javascript and when I refresh header, the vertical scrollbar go to top and it's a bit annoying...

Thanks

[2015-06-04 15:11] Francks11 commented on #932
Okay I see. Its also appears when resizing.

I have the same issue : https://github.com/Mottie/tablesorter/issues/926

 but with vertical scrollbar, and it is not resolved for now.

I have look to the code, but I have not found yet the way to solve this bug.

[2015-06-05 11:50] Francks11 opened #933 "Performance issue with scroller widget and fixed columns"
Hi,

tablesorter with scroller widget and fixed columns is very slow when we have more than 500 rows, especially with Internet Explorer, which stop responding...

[2015-06-05 21:54] DaveGahan opened #934 "ajax pager and filters issue"
Hi, firstable thank you very much for this great job.

I use tablesorter together with pager and filters and it works great except rendering time becoming too slow due to growing amount of datas.

So I'm modifying it in order to make the job done by the server using ajaxurl.

It seems that filter_functions does not work together with ajax.

I took the ajax demo and I try to add a filter_functions

[2015-06-06 16:28] Francks11 commented on #934
Hello,

can you provide a jsfiddle example?

Thanks

[2015-06-06 16:30] TheSin- commented on #934
you need to modify your server side scripts to use the values from fcol and make the filters work server side.

there is no need for a jsfiddle for this.

[2015-06-06 16:33] TheSin- commented on #932
this is due to the tables rebuilding to fix this we might need to save the scroll locations and reset them after the refresh, I'm trying thinking about this a little.

it's not a bug in setupFixed, it's just how it's done since fixed cols are removed to get proper sizing then rebuilt, in doing so it resets the scroll.

[2015-06-07 18:45] DaveGahan commented on #934
Thanks a lot for the reply.

I did it but the problem is that using "filter_functions" together with ajaxurl does not make any select box appear. The field remains a classic input box, not a select box.

The only way to make it a select box is to set something like this into html :

<th class="filter-select" data-placeholder="Select a name">First Name</th>

But it only populates the select box wit

[2015-06-07 18:55] Mottie commented on #934
Hi @DaveGahan!

If you want a select to be populated by custom options, go ahead and add the `"filter-select"` class to the header. Then use the [`filter_selectSource` option](http://mottie.github.io/tablesorter/docs/#widget-filter-selectsource) to add your more extensive list of options.

[2015-06-07 19:49] DaveGahan commented on #934
Hi Mottie and thank you for this great job.

I tried but it does not work.

I took example-pager-ajax.html and I modified these lines :

![2015-06-07 21_43_38-tablesorter-master - netbeans ide 8 0 2](https://cloud.githubusercontent.com/assets/12768499/8025676/b31159da-0d5e-11e5-9536-060f4a3e4517.png)

![2015-06-07 21_44_23-tablesorter-master - netbeans ide 8 0 2](https://cloud.githubusercontent.co

[2015-06-07 23:38] thezoggy commented on #934
`#any` is an id, not a class...

[2015-06-08 00:00] Mottie commented on #934
Hey @thezoggy! That shouldn't matter, you can target a column using either a class or id.

I see the problem... because the table is empty, no parsers are set so the filter select code is trying to parse the values and getting a javascript error. I'll try to fix it soon.

[2015-06-08 00:26] #934 closed

[2015-06-08 00:29] Mottie commented on #934
Check out [this demo](http://jsfiddle.net/Mottie/uwZc2/44/).

 [The fix](https://github.com/Mottie/tablesorter/commit/ca163ec6395567a8ec47ab06c8df3f53ebb5740d#diff-6d479c235668b57d3745338a0754ddf2L1270) is available in the master branch of the repository.

[2015-06-08 00:56] Mottie commented on #923
I just [pushed a change to the master branch](https://github.com/Mottie/tablesorter/commit/dda8b8d76cc239a73ac14dcaad92f8ee1f034394) for the output widget that allows you to set the `output_saveRows` option to use it as a jQuery filter.

For example, setting the `output_saveRows` option to:
* `'.myClass'` - only rows with `myClass` will be sent to the output.
* `'.myClass:visible'` - only visible

[2015-06-08 07:08] DaveGahan commented on #934
@thezoggy Sorry I made a mistake by using the wrong screenshot among many possibilities ;-)

@Mottie Thank you very much, I'll check it as soon as possible today. You were really fast, thanks a lot :-)

[2015-06-08 07:28] biocar2001 commented on #915
Hi,

First at all, I am sorry for my delay in the answer but I was working in others topics. Finally I used this option in knockout:

 /*Extends Pagination*/
	(function() {
	    'use strict';
	    ko.extenders.paging = function(target, pageSize) {
	        var _pageSize = ko.observable(pageSize || 10),
	            // default pageSize to 10
	            _currentPage = ko.observable(1); // default

[2015-06-08 07:28] #915 closed

[2015-06-08 13:43] Francks11 commented on #933
If you want improve performance of table sorter, you can implement virtual scrolling which allow table of millions of rows... Only display data are added in table. When we scroll, data are removed and new data are added.

You can see this in the project slickgrid on github : https://github.com/mleibman/SlickGrid

[2015-06-08 13:44] DaveGahan commented on #934
Problems solved ! \o/

Thanks a lot for help.

[2015-06-08 14:53] prtome commented on #923
Hello,
Thanks, I can now export only my parents rows. It works :)
I still have a problem though
in your demo (http://jsfiddle.net/r0u8kutg/1/) I changed false to true for the hidden columns, and now the export is blank - no columns at all.
This is also the behaviour I have when in my code.

[2015-06-08 15:52] Mottie commented on #923
Ok, the error should be fixed now! The change is in the master branch of this repository.

[2015-06-08 15:54] Mottie commented on #833
Closing this duplicate issue... Please refer to the update in [issue #195](https://github.com/Mottie/tablesorter/pull/195#issuecomment-109818770).

[2015-06-08 15:54] #833 closed

[2015-06-08 16:00] prtome commented on #923
Yes - now I can see the hidden columns in output :) this is really great ! thanks.

(still having the error in widget-output.js : there must be something in my code triggering it, but I cannot find what - it happens in all my pages)

thanks again for this library!

[2015-06-08 16:01] Mottie commented on #933
Actually, I have been looking at [Clusterize.js](https://github.com/NeXTs/Clusterize.js).

[2015-06-08 16:02] Mottie commented on #923
What error are you seeing in the console? Can you modify the demo to duplicate it? Is it only occurring in a specific browser?

[2015-06-08 16:21] prtome commented on #923
I have it in both Chrome and Safari (I am on Mac, Yosemite , all updated).

Uncaught TypeError: Cannot read property 'join' of undefined
ts.output.row2CSV @ widget-output.js:184
ts.output.process @ widget-output.js:160
(anonymous function) @ widget-output.js:37
jQuery.event.dispatch @ jquery-2.1.4.js:4435
jQuery.event.add.elemData.handle @ jquery-2.1.4.js:4121
jQuery.event.trigger @ jquery-2.1.4.j

[2015-06-08 16:27] TheSin- commented on #923
@Mottie I'll try and get setup to test and track this down shortly if I can.

[2015-06-08 16:29] Mottie commented on #923
Actually, I was just looking at it.. it seems if all the header columns are hidden ([demo](http://jsfiddle.net/Mottie/r0u8kutg/2/)), the error pops up.

[2015-06-08 16:30] TheSin- commented on #923
ahh okay though maybe it was a mac error ;)  If you are on it i'll leave ya to it ;)

[2015-06-08 16:31] Mottie commented on #923
I'm not sure why all the header columns would be hidden... I could fix it so that no header is included in the CSV output, but it would totally break JSON output.

[2015-06-08 16:33] TheSin- commented on #923
and hopefully that would be an option I know I personally still want headers to be in the csv.  Plus I use the output widget for a few other tasks which would request the headers.

[2015-06-08 16:33] prtome commented on #923
I have the error also in pages where  there is no hidden column.
And I have not asked ( I think) not to show the headers in output, since I see them (and I want to see them)

[2015-06-08 16:36] Mottie commented on #923
Ok, try that update.

[2015-06-08 16:40] prtome commented on #923
tried - no error but no ouptut :( white page instead of data

[2015-06-08 16:42] Mottie commented on #923
Hmm, would you please update that demo with the HTML being used.

The code you use to trigger an output is correct, so that isn't the problem. Are you still adding a "filtered" class name to child rows?

[2015-06-08 16:46] prtome commented on #923
no, i am using the new code, i don't use 'filtered' anymore. I will try to update the demo so that it reflects my code

 $('.compList').tablesorter({
      headers: {
        0: {
        // disable it by setting the property sorter to false
        sorter: false
            }
          },
      widgets: [ "output"],
        widgetOptions : {
            output_separator     : ';',         // ','

[2015-06-08 16:49] prtome commented on #923
http://jsfiddle.net/breLqs3z/

in here like I use it, and result is a blank page

[2015-06-08 16:55] Mottie commented on #923
That's because that demo is using the output widget from gh-pages... if you point to the output widget in the master branch (https://rawgit.com/Mottie/tablesorter/master/js/widgets/widget-output.js), it works fine: http://jsfiddle.net/Mottie/breLqs3z/1/

[2015-06-08 17:12] prtome commented on #923
sorry, i am not good yet with fiddle.
I forked that last demo, and added the filter for the childrenrows, and it works, so now to my code.
I have downloaded the code from your link, yes I get the output, but I still get the error on same line.

I re downloaded the widget-output.min.js from https://github.com/Mottie/tablesorter/tree/master/dist/js/widgets
(since I had downloaded everything from the

[2015-06-08 17:37] prtome commented on #923
I can't get it working anymore. Downloaded the last version from github - I get a white page.
Now even when I download your link - same thing.
I got back to the "working with console error" version . I will try again after a few hours, I must be reproducing some errors in download, better give it a rest.
Thanks

[2015-06-08 18:38] Mottie commented on #923
Try downloading the files from the repository zip file: https://github.com/Mottie/tablesorter/archive/master.zip

[2015-06-08 18:53] prtome commented on #923
No, I cannot get it working. I downloaded from your link, and get a white page, whatever I do
I give up for now, maybe in a few days I sort this out. I am back with the version I could get working, even if it has an error
thanks

[2015-06-08 19:20] prtome commented on #923
Found out - there was an error in my code -embarrassingly simple - the download button appeared in 2 tables, each on its own tab. One of the tables was empty - and that is why the ouptut-widget was giving an error - and I think that is why once the error disapeared, I could see nothing anymore : in fact it was showing (correctly) the second table.
Thanks a lot !

[2015-06-09 11:07] Francks11 commented on #933
Ok good idea :-)

[2015-06-10 13:24] marcusklaas opened #937 "Scroller widget only sets width after window resize"
When running following code is run on a plain old tables, the width of the columns (neither header nor body) is not set. This happens only after a window resize. Until then, the header and body do not align.

[code]

I've browsed through the issues, but haven't found anything describing this. Am I doing something wrong, or could this be an issue with the scroller widget?

[2015-06-10 15:29] Mottie commented on #937
Hi @marcusklaas!

Was this tested on the scroller widget from the master branch or the last release?

There are still some alignment issues with the last release version which hopefully have been fixed.

[2015-06-11 14:03] Guppy49 opened #939 "Grouping columns for show/hide"
The column selector widget works fine, but it is necessary to select/deselect column by column. If I could group columns in the manner of Excel, it would make switching between views much faster.

[2015-06-11 16:05] Mottie commented on #939
Hi @Guppy49!

You could create a custom popup (leave the [`columnSelector_container` option](http://mottie.github.io/tablesorter/docs/example-widget-column-selector.html#column-selector-container) as `null`) with your own groups and use the [`refreshColumnSelector` method](http://mottie.github.io/tablesorter/docs/example-widget-column-selector.html#methods) to hide multiple columns:

[code]

This

[2015-06-11 18:57] Herst commented on #928
Ugly hack idea: Do "overflow: scroll", i.e. always display a scroll bar on IE?

[2015-06-11 19:14] Mottie commented on #928
@Herst: It is possible to add a `direction: rtl` on the fixed column and have the scrollbar appear on the left, then you'd see two outer scrollbars. That still definitely sounds ugly :wink:

I haven't touched the scroller widget in a week, or so - mostly to get away from it and finish up other work - I'll look at it again this weekend.

[2015-06-12 06:17] eMerzh commented on #918
sorry , i know you must have a lot to do, but any news on this,
i need to remove specific rows in the table... so i was thinking about a column with ids, and a serie of "!id1 and !id2 ..."
do you see any other possibility than that?

[2015-06-12 15:30] Mottie commented on #918
I did start working on this feature, the `OR`  operator is integrated in with the wild card multiple (`*`) and  single (`?`) non-space character matcher, using regular expressions. After separating it out, I found that the updated method changes how "filter-match" works. So now I need to find a way to work around this problem. Hopefully it won't take too much more time to fix it.

[2015-06-12 15:35] eMerzh commented on #918
awesome! big thanks for this, and for your reactivity!! keep on the awesome work!

[2015-06-12 15:37] Mottie commented on #918
I don't think I'll have time to work on the `!( 80 - 100)` request... it is nesting filter types and if you want to include parentheses, I would also have to prioritize operations, which would require even more coding.

[2015-06-12 15:37] Mottie commented on #891
I've started working on this feature... see #918 for updated information. The other issue is very similar to this one, but I left it open because it requested including other filter types with the "OR".

[2015-06-12 16:57] gws0000 opened #940 "Header fails to allow for scroller width after calling the 'update' method"
I'm sorry if I've missed something simple in the documentation but this has been troubling me for a while now, it's the last issue left for me to solve before a release.

I have a table which uses the 'filter' and 'scroller' plugins.  The table data is changed dynamically.  If the user removes rows until the scroller becomes deactivated and the 'update' method is called on the table the header fai

[2015-06-12 17:05] Mottie commented on #940
Hi @gws0000!

Try the scroller widget updates available in the master branch. You can use this url to replace the scroller widget in the resource section of jsFiddle:

https://rawgit.com/Mottie/tablesorter/master/js/widgets/widget-scroller.js

I don't see a "Remove row" button in that demo.

[2015-06-12 17:11] gws0000 commented on #940
Sorry, I mucked up the jsfiddle version.  Using the master version looks better.

[2015-06-13 02:06] #891 closed

[2015-06-13 02:07] Mottie commented on #918
Whew, ok, try out the updated filter widget available in the master branch!

[2015-06-13 02:11] Mottie commented on #891
I just updated the filter widget. You can use filter queries like:
* `<10 or >40`
* `>20 && <40`
* `a && !o`
* etc.

Only the "AND" and "OR" filter queries allow nesting.. so you can't do something like `!(20 - 30)`.

[2015-06-14 20:53] ivanny commented on #937
I have the same issue too. I use master branch release.
Here you can see problem:
http://jsfiddle.net/4pgkL19s/1/
After many attempts, I tried to use this version, /*! Widget: scroller - updated 5/17/2015 (v2.22.0) *//*  and everything goes ok, until I use filter: then headers no more aligned with tbody.
I hope you could solve this issue asap, thanks in advance.

[2015-06-14 22:59] ivanny commented on #937
If I refresh after filter results, layout appears correctly, but the search become extremly slow.
es:
.bind('filterEnd', function() {$('table').trigger('refreshWidgets', true);})

[2015-06-15 12:57] Mottie commented on #937
Hi @ivanny!

When the [`refreshWidgets` method](http://mottie.github.io/tablesorter/docs/#refreshwidgets) is used, it removes the widget then re-initializes it. When this method is triggered using "filterEnd", the "filterEnd" event is fired immediately after "filterInit", so it's creating an endless loop.

It would be better to trigger `$(window).resize()` on "filterInit".

I'm working on a fix, b

[2015-06-15 19:27] ivanny commented on #937
Ahahah, great Mottie!
I appreciate a lot your effort, I hope you could win your (but also our) battle!
Anyway, I don't give up and I tried another stickyHeaders widget to achieve my aim (sort, scroll, filter).
Everything works as expected but...in IE the header flicker on-scroll, only in IE.
Do you think that this issue could be simplier to solve?
I'm ready to donate you to contribute to solve thi

[2015-06-15 19:35] TheSin- commented on #937
there is no need to run sticky headers and scroller widgets, please just use one or the other, not both.

scroller = limited height of the table to a container
stickyHeader = table cause be as tall as needed but headers will stay on scroll

Both support filters and sorter, just don't use sticky and scroller together this is no point and this is not support.

[2015-06-15 19:49] ivanny commented on #937
Hi @TheSin- , thanks for reply.
I'm using only "stickyHeader" after I tried without fortune scroller widget.
In particular I need to attach sticky header to its parent, as in second example here: https://mottie.github.io/tablesorter/docs/example-widget-sticky-header.html
This is what I was looking for, horizontal and vertical scroll for large table, sort and filter without alignment problems I fou

[2015-06-15 20:02] Francks11 commented on #937
Tablesorter is for now, not optimize for large table... For large table, I use ScrillGrid. You can find this project on github.

[2015-06-16 08:59] marcusklaas commented on #937
I can confirm that this issue persists after updating to master.

[2015-06-17 10:36] nicksergio opened #942 "default listing"
I am trying to list my data in tablesorter using the last published custom Posts in wordpress in descending order starting with the latest. Tablesorter seems to have a Default which is in alphabetical order. How do i get it to lists with this custom order. Thank you

[2015-06-17 11:39] afmab opened #943 "Group by entire text value"
Hi,

Looking at the header class names for grouping I can't see that there is any way to group by the column's entire text value. You can group by nth word, but not by all words.

Please can you let me know if there's a way to achieve this?

Thanks.

[2015-06-17 12:09] Mottie commented on #942
Hi @nicksergio!

You can sort the listings by posted date in descending order. If you provide an example of the HTML and javascript, I could better help determine if a custom parser is needed.

[2015-06-17 12:20] Mottie commented on #943
Hi @afmab!

You can use the `"group-separator"` class on that column. It includes all text from the start to the first separator (use `"group-separator-n"` for the n-th separated block of text). The default separator is set by the [`group_separator` option](http://mottie.github.io/tablesorter/docs/example-widget-grouping.html#group_separator).

Sort the inputs column in [this demo](http://jsfiddle

[2015-06-17 13:05] afmab commented on #943
Ah, brilliant - thanks, that's sorted it.

[2015-06-17 13:13] nicksergio commented on #942
Thanks for the Response,

This a link to the table Sorter initialization in js
http://pastie.org/10244889#22

Html Markup for table Sorter can be referenced on the line 259 on here
http://pastie.org/10245115#22

This is a link to html page:
http://test.unternehmensverkauf.de/unternehmensboerse/

2015-06-17 14:09 GMT+02:00 Rob G <notifications@github.com>:

[2015-06-17 13:25] ciadch opened #944 "Output table in table"
Hello,
I just try your fantastic plugin and I'm really happy to use it ! Thanks for your great job.

I encounter a strange behaviour with output widget : I have a table with some child rows. Inside these child rows I have another table. I can now correctly output my parent table without children (issue #923) but when I try to export my second table, in child row, I have to files which are download

[2015-06-17 13:50] ciadch commented on #944
Maybe an information : I try to trigger table with id : like that (simplified)

$('#parent-table').tablesorter()
$('#child-table').tablesorter()

$('#parent-table').trigger('outputTable');
$('#child-table').trigger('outputTable'); --> when I call that, the outpuTable exports the parent-table too

[2015-06-17 13:50] Mottie commented on #942
Hmm, I think you might need to add another column for the posted date, make it hidden if you want, then set the `sortList` to apply a descending sort to that column.

[2015-06-17 13:54] Mottie commented on #944
Hi @ciadch!

Hmm, that sounds like a bug... I need to stop the event propagation of 'outputTable'. I'll have a fix available in the master branch shortly.

[2015-06-17 13:56] #944 closed

[2015-06-17 14:09] nicksergio commented on #942
Thanks Rob for the Response. Would appreciate a code snippet of how that
will look like.

2015-06-17 15:50 GMT+02:00 Rob G <notifications@github.com>:

[2015-06-17 14:12] ciadch commented on #944
Thanks for promptness !

Sorry but same behaviour despite your update...

[2015-06-17 14:25] ciadch commented on #944
Sorry, I spoke too soon. Clear cash problem !

Thanks a lot, everything work perfectly now !!!

[2015-06-17 14:25] Mottie commented on #944
Awesome! :smile_cat:

[2015-06-17 14:40] Mottie commented on #942
[Here is an example](http://jsfiddle.net/Mottie/abkNM/6129/). You can hide the date column by un-commenting out the css definition.

[2015-06-17 15:10] nicksergio commented on #942
Thanks very much will try with the dynamic data i am getting from wordpress
and get back to you. appreciate it.

2015-06-17 16:40 GMT+02:00 Rob G <notifications@github.com>:

[2015-06-17 17:54] tonyxs opened #945 "Why tablesorter is not sticky when using with JSF datatable?"
I am a kind of new to jQuery tablesorter. I am using it with JSF datatable. It seems working, except it is not sticky when scrolling. Why?

Thanks in advance.

[code]

[code]

[2015-06-17 21:48] Mottie commented on #945
Hi @tonyxs!

Since the div wrapping the table has a fixed position, the `stickyHeaders_yScroll` option should monitor the scroll position of the wrapper (default behavior) instead of the window. Try this instead ([demo](http://jsfiddle.net/Mottie/yfwwzvL8/228/)):

[code]

[2015-06-17 22:08] tonyxs commented on #945
Hi Mottie,

Thanks for a quick help!

But it is still not working after taking 'stickyHeaders_yScroll' off. It has another parent div outside of the div in my code which I didn't put it in my question (trying to make the case simple). Is that going to affect the sticky tablesorter status? I saw your demo which is working fine. thanks.

[2015-06-17 22:11] Mottie commented on #945
It shouldn't matter as long as the wrapping div has a `position: absolute` definition.

[2015-06-17 23:13] tonyxs commented on #945
Hi Mottie,

Why it is still not sticky? I am frustrated of it..... I have take out all unnecessary code (including .css files and other xhtml files) and put them in a single file for you to look. Can you take a look to tell me what's wrong there? Thanks.

<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-t

[2015-06-17 23:18] Mottie commented on #945
Does tablesorter even work? Since jQuery Mobile is involved, you'll need to wrap the  javascript code like this instead of using the document ready function:

[code]

[2015-06-17 23:29] tonyxs commented on #945
Yeah, the tablesorter seems working with jQuery Mobile. I think I know the reason, cause I missed <script src="resources/js/tablesorter.widgets.min.js"/>

I'll keep in mind for your recommendation for jQuery Mobile with tablesorter.

Thanks.

[2015-06-18 08:50] clod986 opened #946 "Error if not setting math_priority"
Hi,
I've scratched my head for an hour with the math widget, and I managed to have it work only by declaring the option <code>math_priority</code>. Incriminated line is <code>widget-math.js:148</code>

Shouldn't the option be defaulted?

[2015-06-18 12:05] Mottie commented on #946
Hi @clod986!

The default for the [`math_priority` option](http://mottie.github.io/tablesorter/docs/example-widget-math.html#math_priority) is `[ 'row', 'above', 'col' ]`. This defines the order in which calculations are made. The `'all'` priority is always last. The reason for this order is to include subtotal rows in column calculations, and to include grand total calculations last.

The only wa

[2015-06-18 12:18] clod986 commented on #946
Thanks @Mottie
The error occurs if I don't declare <code>math_priority</code> at all. Being it an optional field, I feel there should be something wrong with its initialization

[2015-06-18 12:38] Mottie commented on #946
Maybe there is `math_priority` definition that is overriding the default somewhere else? If you look at the [math demo](http://mottie.github.io/tablesorter/docs/example-widget-math.html), you'll see that `math_priority` is not defined in the code and I'm not seeing a javascript error in the console.

Would you please share the initialization code being used?

[2015-06-18 12:48] Patatou opened #947 "editable_enterToAccept bug"
Hi there,

In this demo, on chrome, editable_enterToAccept option bug :
https://mottie.github.io/tablesorter/docs/example-widget-editable.html

Any solution for workable this option ?

Ty

[2015-06-18 12:48] clod986 commented on #946
Actually, even copy-pasting your code I had problems.

Here's my initialization code
<pre>
if($table.hasClass('tablesorter')){
                var $container  = $table.parent();

                var $widgets        = ['uitheme'];
                var $widgetOptions  = {};

                if($table.hasClass('widget-filter')){
                    //$widgets.push('filter');
                    $widge

[2015-06-18 12:59] Mottie commented on #946
Hmm, and you're using the most up-to-date version of tablesorter from this fork?

I'm guessing that the tables have the class names "widget-math", "widget-stickyHeaders" manually added? It wouldn't hurt anything if all the `widgetOptions` were defined since they don't do anything unless the widget is included in the `widgets` option.

Also, since you're using Bootstrap, you'll need to set the `hea

[2015-06-18 13:01] Patatou commented on #947
Edit : for information, scroller widget + editable widget make some strange bug on display...

[2015-06-18 13:37] clod986 commented on #946
I know, it feels strange to me aswell since it works fine just by declaring <code>$widgetOptions.math_priority = ['row', 'above', 'col'];</code>

[2015-06-18 15:10] Mottie commented on #947
Hi @Patatou!

It appears to work for me.

Go to that demo page and open the development tools (press F12), then enter the following into the console:

[code]

Now edit the content of any cell, and press <kbd>Enter</kbd>, you'll see the changed content in the console after pressing return.

In that demo, the `editable_autoResort` is set to `false`, so the table won't auto-resort after editing.

You

[2015-06-18 15:17] Patatou commented on #947
Ok you're right.

I thinked it was a bug because cursor stay in the cell after ENTER pressed, and cell still active.

Ty, u're faster than speedy gonzales ;)

[2015-06-18 15:25] Mottie commented on #947
I feel more like ["Slow Poke Rodriguez"](https://www.youtube.com/watch?v=wYi_hq2p1Ac).

[2015-06-18 15:25] Patatou commented on #947
Complementary question : Is it normal that Content Editable widget doesn't work in modal windows ?

[2015-06-18 15:29] Patatou commented on #947
Gonna make a jsfiddle... brb

[2015-06-18 15:56] Patatou commented on #947
http://jsfiddle.net/njt1nth5/12/

If you disable scroller option, modal and Content edit work perfectly.

[2015-06-18 16:03] Mottie commented on #947
The editable widget does not yet work with the scroller widget... please watch #878 for updates.

[2015-06-18 16:05] Patatou commented on #947
Ok.

Ty again.

[2015-06-18 16:08] Patatou commented on #947
But look : http://jsfiddle.net/g7jcfjoo/

If i desactive class="modal" it work...

Don't really understand why doesn't work in modal.

[2015-06-18 16:13] Mottie commented on #947
Can you make the modal work in that demo... some modal scripts clone the contents into a new popup, which won't work with tablesorter; in this case you need to initialize tablesorter *after* the modal window is visible.... So really it depends on the modal plugin.

[2015-06-18 16:16] Patatou commented on #947
Modal work when i disable scroller : http://jsfiddle.net/6xfxgvsq/

But scroller + content edit work if i disable modal : http://jsfiddle.net/g7jcfjoo/

Strange...

[2015-06-18 16:30] Patatou commented on #947
Nevermind, I found an alternative solution :)

Ty ;)

[2015-06-19 09:07] Herst opened #950 "Automated Code Formatting Check"
Here a JSCS formatting file helping with that: https://gist.github.com/Herst/39263a478046a48f1860

I basically just updated my style file to match your code style by comparing it with tablesorter.combined.js and an arbitary selection of other widgets.

[2015-06-19 09:09] Herst commented on #950
Of course there are some settings I didn't set at all.

[2015-06-19 12:44] Mottie commented on #950
Thanks! I added a link to the [contributing.md](https://github.com/Mottie/tablesorter/blob/master/CONTRIBUTING.md#contributing-code)!

[2015-06-19 12:44] #950 closed

[2015-06-19 13:25] ciadch opened #951 "DateFormat with hours"
Hi,

Is it possible to set default date format for tablesorter with hours like this : dd.mm.yyyy H:i:s (19.06.2015 15:49:49). I want to do that for all my tables without adding a "personal" parser. I try a lot of combinations but impossible to order this format !

Thanks !

[2015-06-19 13:36] Mottie commented on #951
Hi @ciadch!

The built-in short date format already supports including the time - see the [changing the date format demo](http://mottie.github.io/tablesorter/docs/example-option-date-format.html).

[2015-06-19 13:52] ciadch commented on #951
Ok perfect, thank  you !

[2015-06-22 02:20] #926 closed

[2015-06-22 02:20] #932 closed

[2015-06-22 02:20] #940 closed

[2015-06-22 06:08] Francks11 commented on #926
Good job @Mottie, but on window resize, the scrollbar position is not restore...

[2015-06-22 12:12] Mottie commented on #926
Please elaborate... what do you mean "not restore"? What browser?

[2015-06-22 12:43] Mottie commented on #928
I wanted to add a note here, the rows line up better now while scrolling due to throttling of the scroll event. There are times when the two sides don't line up - for example, the fixed column is scrolled to the bottom using the mouse wheel and the scrolling columns ends up about 5px from the bottom. There is no easy method to fix this since no scroll event is fired.

[2015-06-22 12:45] Francks11 commented on #926
Sorry...

In my demo : http://jsfiddle.net/856bzzeL/465/

Scroll to bottom :

![1](https://cloud.githubusercontent.com/assets/3995851/8281837/1e44e85a-18ec-11e5-9097-0ccbc2695111.png)

Resize the window. You can see that the scrollbar go to top.

![2](https://cloud.githubusercontent.com/assets/3995851/8281928/d74ec5a0-18ec-11e5-9161-487124324246.png)

This issue appears with all browser.

I think

[2015-06-22 13:02] Mottie commented on #926
Ok, try it now! :P

[2015-06-22 23:21] VictorT83 opened #952 "Filters not working on load"
The filters appear to be set during initialization, however it does not appear that the filter is actually being applied despite the third parameter being set to true.

If I try setting the filter manually after the table has fully loaded it seems to work, or if I set a timeout of 100ms or more, it seems to work, but it does not not appear to like a default filter.

Here is a fiddle:
http://jsfidd

[2015-06-22 23:32] Mottie commented on #952
Hi @VictorT83!

There's a lot of stuff going on during initialization. Instead of trying to set the filters in teh initialization callback, use the "data-value" attribute (set by the [`filter_defaultAttrib` option](http://mottie.github.io/tablesorter/docs/#widget-filter-defaultattrib) with the initial filter value ([demo](http://jsfiddle.net/abkNM/6150/)):

[code]

Note: if the [`filter_saveFilter

[2015-06-22 23:54] VictorT83 commented on #952
Perfect, Thank you.

[2015-06-22 23:54] #952 closed

[2015-06-23 06:46] Francks11 commented on #926
Thanks @Mottie, its works :D

[2015-06-23 08:08] #951 closed

[2015-06-23 14:04] Herst commented on #947
Mind to share it with us?

[2015-06-23 14:11] Patatou commented on #947
Well, since today my "hotfix" doesn't work anymore.... :'(

When I update table dynamically for rerend it, edit Content doesn't... (I can edit, but all option is down...)

Work on it.

[2015-06-23 14:25] Patatou commented on #947
Same problem as last month, empty table except when i resize window and $(window).resize(); doesn't work on trigger.

[2015-06-23 18:55] ryancoakley opened #953 "Resizable widget in div with overflow scrolling"
Hi,

Thanks for your tool it is great. I am having some issues with using resizable in a div with an overflow scroll.

I read this issue here where you guys fixed it:

https://github.com/Mottie/tablesorter/issues/737

It works great with his "resizable2" widget he provided in this jsfiddle:

http://jsfiddle.net/Kermit_the_frog/4oc8bpzm/

Now that you have made it so that you can resize from the en

[2015-06-23 19:23] Mottie commented on #953
Hi @ryancoakley!

So the second demo has the behavior you want, right? You just want to make it resize without needing to click on the header first? Or am I missing something?

[2015-06-23 20:01] Mottie commented on #915
Hey @biocar2001!

I was just looking at your code, and I think you can use the internal [pager variables](http://mottie.github.io/tablesorter/docs/#pager-variables) to accomplish the same thing.

Like I said, I don't know knockout, but you can access any of the internal pager variables from `table.config.pager`. From here you have access to:

* `pager.startRow` - one-based index of the first row v

[2015-06-23 20:10] randdusing opened #954 "Empty "Placeholder""
Is it possible to have an empty cell placeholder like "n/a" that doesn't affect sorting? Do I just need to create a custom sorting function that ignores a value like "n/a" or "none"?

[2015-06-23 20:27] Mottie commented on #954
Hi @randdusing!

I think the easiest method would be to create a parser that replaces the "n/a" or "none" with an empty string ([demo](http://jsfiddle.net/abkNM/6160/))

[code]

I was going to suggest using the `data-text` attribute (data-attribute name set by the [`textAttribute` option](http://mottie.github.io/tablesorter/docs/#textattribute), but if you set it to an empty string, it will fallba

[2015-06-23 20:33] Mottie commented on #954
Oops, I forgot to include that with empty strings, you can then use the `emptyTo` option setting to place the empty cells at the:

* `'top'`
* `'bottom'`
* `'none'` or `'zero'` (sort as if the cell has the value equal to zero)
* `'emptyMax'` (sort as if the value is greater than the max value), or
* `'emptyMin'` (sort as if the value is less than the minimum value)

You can also define this option

[2015-06-23 21:03] randdusing commented on #954
Thank you very much! That's exactly what I needed.

[2015-06-23 21:13] Mottie commented on #954
Ok, in the master branch is a change which will allow setting empty data-attributes for text extraction ([demo](http://jsfiddle.net/abkNM/6161/)):

[code]

[2015-06-23 21:25] randdusing commented on #954
Thanks again!

[2015-06-23 22:19] ryancoakley commented on #953
Hi, Thanks for the reply, but that isn't quite what I meant.

You  are correct that I have to click the header to get the proper resizing, so I would like to not have to do that.

However, the main issue is that it can only be resized by dragging the header, and I am using sticky headers, so once I scroll I lose that ability when I scroll the table on the Y overflow.

So I would like for it to be

[2015-06-23 23:45] sennz commented on #770
Hi
I have a table with 20 col and around 8000 rows, it takes long time to load, filter or sort. How can i improve the performance. Also How can I show a progress bar or a overlay so that user get noticed that the table is not ready.
Thanks in advance.

[2015-06-24 06:36] Francks11 commented on #770
Hello @sennz,

tablesorter is not optimize for huge table data for now...

The solution is to implement virtual scrollbar and add in DOM only visible table row... Which this technic, we can have table with millions rows...

But this isn't implemented yet...

Mottie said in issue https://github.com/Mottie/tablesorter/issues/933, that he is looking about Clusterize.js http://nexts.github.io/Clusteri

[2015-06-24 11:49] Mottie commented on #933
Implementing Clusterize would require some modification to the core, like integrating the build widget. Also, I would like them to resolve the [OSX scrolling issue](https://github.com/NeXTs/Clusterize.js/issues/3) before starting work.

Please don't expect this change any time soon... I usually have about an hour in the morning, and a few hours at night and on the weekend, if I'm in the mood, to c

[2015-06-24 12:04] Francks11 commented on #933
No problem @Mottie. I just answered in another post about performance problem :-).

[2015-06-24 12:11] Mottie commented on #933
Thanks :)

[2015-06-25 10:41] nicksergio commented on #942
Hello Rob,

I have implemented the date sort based on your example. Also used get date
to pull published Dates dynamically. but now i have another concern. The
first columns dont seem to hide after i did insert a column for publised
which is rerefeenced to the hidden 'date' property exactly as you did. What
could be wrong? How do i get it hidden.

Here is the html page :
http://test.unternehmensve

[2015-06-25 11:57] Mottie commented on #942
I'm not that good with php, but since the column will be hidden, it would be better to use [`strtotime`](http://php.net/manual/en/function.strtotime.php) to add the time in seconds since the epoch date; this makes it so you don't need to parse or worry about the date format.

[code]

[2015-06-25 13:10] nicksergio commented on #942
Thanks very much. Got it to work..

2015-06-25 13:57 GMT+02:00 Rob G <notifications@github.com>:

[2015-06-26 14:03] annames opened #955 "Accessibility checker fails tablesorter rows due to "role='row'" without corresponding roles on cells"
Hello,

We use tablesorter extensively and have been very happy with it. We also have a lot of government customers who are concerned about meeting accessibility requirements, and I was psyched to find all of your accessibility enhancements in the thead the last time we pulled a tablesorter update (currently running 2.18.3).

This week I've been updating our previous accessibility checker with the

[2015-06-26 15:31] Mottie commented on #955
Hi @annames!

Thanks for checking the accessibility of this fork with the new aXe library. I bookmarked it, but I just haven't had the time to follow up.

I think I might have to make an "accessibility" widget to add those role attributes to the `tbody` content; because, if I add code to the core that adds roles to every tbody row and cell, I fear it may cause more issues for developers that want

[2015-06-26 17:02] Mottie commented on #955
Actually, I looked at the following pages:

* https://wiki.mozilla.org/Accessibility/TableHeaders
* http://www.ssa.gov/accessibility/bpl/bps/tables/basic/default.htm
* http://usability.com.au/2005/06/accessible-data-tables-2005/
* http://www.pcc.edu/resources/instructional-support/access/table-layout-examples.html
* http://webaim.org/techniques/tables/data

And now I'm not sure if "gridcell" or "r

[2015-06-26 18:02] annames commented on #955
Thanks for the quick reply!

The WAI spec http://www.w3.org/TR/wai-aria/roles#row states that if you apply role="row" to a tr, then it must contain columnheader, gridcell, and/or rowheader elements (the "required owned elements"). Columnheader is for th within thead, gridcell is for td within tbody, and rowheader is for th within tbody. I believe that once you apply role="grid" to a table you are

[2015-06-26 18:47] Mottie commented on #955
Getting... more... confused.... LOL

I tested the [main demo](http://mottie.github.io/tablesorter/index.html) page on fae (Functional Accessibility Evaluator 2.0). It showed a result of 9 violations, none of which were related to the table (I suck at ARIA):

http://fae20.cita.illinois.edu/one-page/14e311df30ec5378/rc/3/

Does aXe provide suggestions? Maybe I need to ask about this on Stackoverflow

[2015-06-26 20:35] annames commented on #955
It actually does show up on FAE under Widgets/Scripting. If you go in there there's a violation for "Widgets must have child roles". I tested http://mottie.github.io/tablesorter/docs/example-option-sort-list.html . I think the bottom line is, if you start with role="grid", every tr, th, and td in your table needs a grid-related role.

I have to run and am on vacation for the next week and a half s

[2015-06-27 03:00] #953 closed

[2015-06-27 03:01] Mottie commented on #953
Ok, the update is available in the master branch. Here is an [updated demo](http://jsfiddle.net/Mottie/4oc8bpzm/3/).

[2015-06-28 17:23] ryancoakley commented on #953
You are amazing thank you so much!

[2015-06-30 15:05] #918 closed

[2015-06-30 15:05] #923 closed

[2015-06-30 15:05] #927 closed

[2015-06-30 15:05] #928 closed

[2015-06-30 15:05] #931 closed

[2015-06-30 15:05] #937 closed

[2015-06-30 15:05] #954 closed

[2015-06-30 15:11] Mottie commented on #893
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:11] #893 closed

[2015-06-30 15:11] Mottie commented on #892
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:11] #892 closed

[2015-06-30 15:12] Mottie commented on #902
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:12] #902 closed

[2015-06-30 15:14] Mottie commented on #945
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:14] #945 closed

[2015-06-30 15:14] Mottie commented on #943
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:14] #943 closed

[2015-06-30 15:14] Mottie commented on #942
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:14] #942 closed

[2015-06-30 15:15] Mottie commented on #939
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:15] #939 closed

[2015-06-30 15:15] Mottie commented on #916
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:15] #916 closed

[2015-06-30 15:16] Mottie commented on #914
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:16] #914 closed

[2015-06-30 15:17] Mottie commented on #909
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:17] #909 closed

[2015-06-30 15:18] Mottie commented on #564
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue this discussion.

[2015-06-30 15:18] #564 closed

[2015-06-30 15:21] #929 closed

[2015-06-30 15:33] Mottie commented on #716
Closing this issue as a link to Bootsole is in the main readme:

https://github.com/Mottie/tablesorter#related-projects

[2015-06-30 15:33] #716 closed

[2015-06-30 16:23] nicksergio commented on #942
Sure its been resolved . thanks loads appreciate it.

2015-06-30 17:14 GMT+02:00 Rob G <notifications@github.com>:

[2015-06-30 20:58] marcusklaas commented on #937
Thanks @mottie! Your hard work is much appreciated! :+1:

[2015-07-02 07:47] ciadch opened #956 "Strange behaviour with Chrome"
Hello,

When I display my web page with Chrome, my table (whatever the size) is firstly displayed as simple html table before tablesorter is applied. It's really strange, when I try the sampe thing wit IE or Firefox, no problem, my table is fully displayed with tablesorter applied. I miss something or is there an option that i forgot ? In my code, I user the boostrap theme.

This behavior appears

[2015-07-02 08:38] ciadch commented on #956
After a few search, it seems that is the filter widget who thake time to be displayed

[2015-07-02 08:52] ciadch commented on #956
Exemple :
![beahaviour](https://cloud.githubusercontent.com/assets/12936546/8473264/75b7ae56-20a8-11e5-87ca-31a0acdd48c6.png)

[2015-07-02 12:20] Mottie commented on #956
Hi @ciadch!

What you are seeing is called the [flash of unstyled content](https://en.wikipedia.org/wiki/Flash_of_unstyled_content), FOUC for short. Although, it's not due to the stylesheet being loaded after the DOM is ready - it is due to the table not having any style applied initially.

In order to prevent this from happening, add the class names that will be applied to the table element after

[2015-07-02 13:19] ciadch commented on #956
Awesome ! Thanks for the tip ! I make a workaround for hiding my table until whole tablesorter is initialize. Seem work correctly !

[2015-07-02 16:24] Mottie commented on #956
Please be aware that even though Bootstrap css provides striping of the table rows using css, that if there is an initial filter and the table is hidden the striping may not appear correct - try filtering the table [in this demo](http://mottie.github.io/tablesorter/docs/example-widget-bootstrap-theme.html) with the zebra widget disabled.

This problem is due to the zebra widget only applying class

[2015-07-02 16:46] Mottie opened #957 "Scroller + math widget"
Math widget does not work when the scroller widget is applied - see [Stackoverflow](http://stackoverflow.com/q/31189802/145346)

[2015-07-03 04:04] masasih opened #958 "tablesorter resizing not work"
Hi Mottie,

I have problem on resizing feature, resize icon works but no column can be resizable could you please take a look?

now I found the problem, it is because I have column with data  ( ).
Anyone can resolve this issue?

Thanks in advance.
Masa Sih

[2015-07-03 07:31] ciadch commented on #956
Thanks for this advice. In my case, I don't have any initial filter so everything works good with hidden table at the beginning. So no problems with zebra widget too.

[2015-07-03 08:35] ar-lab commented on #396
@Mottie Good job!

[2015-07-03 12:53] Mottie commented on #958
Hi @masasih!

Please modify [this demo](http://jsfiddle.net/Mottie/em87cupL/) to duplicate the issue as I don't understand what you mean by having a "column with data( )".

[2015-07-06 03:32] masasih commented on #958
Hi Mottie,

thanks for your kindness replying my issue, it is very strange your code worked properly when I use data something like (Mathematics.) (Student01 )  etc.
it my be something prevented resizing feature,   the other tables without ' ()  ' data worked properly.
by the way my widget is ver. v2.22.2.

[2015-07-06 07:04] masasih commented on #958
Latest test,
It is not about data contain null, empty or (), but It think about memory or something, it worked for total rows below 298 rows and 4 columns  but greater than or equal to 298 rows resize didn't work.

[2015-07-06 17:31] saturdaywalkers opened #959 "Feature Request: Use <td data-order=" "> to set sort order"
Rather that use the various parsers, I just use something much simpler like
`<td><span class="hide">2015-07-03 12:23</span> Sat, 03-Jul-15 ` i.e. alphanumeric sort on the hidden text
`<td><span class="hide">3 003</span> SWC Walk 3`
`<td><span class="hide">5 010</span> Short Walk 10`

A nice generic solution might be
`<td data-order="2015-07-03 12:23">this text not used for sorting`

[2015-07-06 17:36] Mottie commented on #959
Hi @saturdaywalkers!

Actually, that's already built into this forked version.

If the [`textExtraction` option](http://mottie.github.io/tablesorter/docs/#textextraction) is left at its default setting of `'basic'`, then the data-attribute set by the [`textAttribute` option](http://mottie.github.io/tablesorter/docs/#textattribute) (default is `data-text`) is used:

[code]

[2015-07-06 17:54] saturdaywalkers commented on #959
Brilliant. I hadn't noticed it the doco. Thanks for the prompt reply, and all your work. Its really appreciated.

[2015-07-06 17:54] #959 closed

[2015-07-08 08:43] Herst commented on #958
So, just to iterate, the mouse cursor is changing correctly into the one for resizing? Because there is another open issue which might cause the area where resizing is possible to be at the wrong position.

[2015-07-08 10:18] masasih commented on #958
mouse icon changed ti resize icon but the column did not resize at all, I think this about memory I have tried with another tables have same problems too.

[2015-07-08 12:41] Mottie commented on #958
Ok, [here is a table demo with 500 rows](http://jsfiddle.net/Mottie/em87cupL/6/), please modify it to show me the problem. It would make it easier for me to fix it if I can see it.

And, I still don't understand what you mean by data... do you mean the content of the table cell? I tried [adding an empty column](http://jsfiddle.net/Mottie/em87cupL/7/), but the widget still works.

[2015-07-08 22:34] DavidAnderson684 opened #960 "Export not working"
I have been trying to get the 'output' widget to work, with no joy.

Eventually, I found Mottie's simple StackExchange demo and JSFiddle; these don't work either - tested in current Chrome and Firefox. Presumably something has broken?

JSFiddle: Pressing "Get CSV" does nothing: https://jsfiddle.net/Mottie/abkNM/2617/
StackExchange answer, containing code implemented in the Fiddle: https://stackove

[2015-07-08 22:41] Mottie commented on #960
Hi @DavidAnderson684!

That fiddle isn't working because it is using https, try this link: http://jsfiddle.net/Mottie/abkNM/2617/

[2015-07-08 22:43] DavidAnderson684 commented on #960
And... my own code wasn't working because I hadn't loaded the individual output widget JS file. I'll close this now. Thank you!

[2015-07-08 22:43] #960 closed

[2015-07-08 22:43] Mottie commented on #960
No problem :smile_cat:

[2015-07-08 22:44] DavidAnderson684 commented on #960
Final note for anyone reading this in future - if you've got "HTTPS Everywhere" installed (which I had, in both browsers), then Mottie's direct link above will still result in a not-working Fiddle.

[2015-07-08 22:52] Mottie commented on #960
I had to replace all the resources with an HTTPS protocol to make it work - it appears that completely removing the protocol didn't work.

https://jsfiddle.net/Mottie/abkNM/6418/

[2015-07-09 06:34] masasih commented on #958
Thanks, Very strange, your 4 samples work properly. but mine not, I replaced mine with all your 3js and theme.blue.css. Do you want me to close this issue or not? because I don't know this is memory or conflicted scripts.

Now my suspect pointing to bundle.config. below my Files and config:

Here my config:
       bundles.Add(new StyleBundle("~/Content/css").Include(
                      "~/Conte

[2015-07-09 21:48] dileephb opened #961 "Multiple Tbody paging and sorting"
Hi Motie,

I am still unable to find a solution for multiple tbody paging. I have three groups in my grid. Under each group I have 10 to 15 records. When I sort, the records in each group should be sorted. This works great.
Also I want to achieve pagination across all 3 groups. This does not work correctly because I have each group as a tbody and paging works for the first tbody only.I have looked

[2015-07-10 02:26] Mottie commented on #961
Hi @dileephb!

Are you saying you're not doing any ajax operations? So all the rows exist within the table and you want to add pagination to all tbodies?

[2015-07-10 11:07] divyaalex opened #962 "Need to sort a table and get the url and share with others which shows the sorted result"
I have a table which I am sorting on multiple columns (using shift+click) using  jquery.tablesorter.combined.js and using saveSort widget
to save the sort.

is there any way i can sort this in server side and get the url so that I can copy & paste the url and share this result with others via URL ?
Loading this URL should give me the sorted table as it is.

Please let me know

Thanks in advance
di

[2015-07-10 19:20] Federico-G commented on #540
Hi Mottie,
I've been using the new pager widget and I get a similar problem with "oldAjaxSuccess" that process twice the pager_ajaxProcessing function. The problem I have is that the function is **called twice** but not in init, but every time I do a **sort**. With the workaround you post works great:
[code]

But it's only a workaround and the widget shouldn't do that.

Thanks

Trace:
* **First ca

[2015-07-10 19:33] dileephb commented on #961
Mottie,

Thats right. I have a basic mvc view populated with all the rows. I would like to display these rows among 4 different groups. So I used multiple Tbody to display each group. The sorting works fine across all the groups but pagination doesn't work.

[2015-07-11 12:25] BibiSeal opened #963 "Export excel directly"
Hi,
Is it possible to export un .xls or .xlsx directly without use .csv ?
I Only found to export to csv, txt or js.

Thanks and great plugin.

[2015-07-11 13:48] Mottie commented on #963
Hi @BibiSeal!

The `.xls` & `.xlsx` formats is actually a zip file containing several folders with numerous files, mostly XML. I changed the `.xlsx` extension to `.zip` and opened the folder and found this structure:

[code]

It would be difficult to convert a basic csv or text file into this supported format, especially considering that this format would be version dependent. If you still don't t

[2015-07-13 05:10] masasih commented on #963
Hi @BibiSeal! ,

you can use https://github.com/SheetJS/js-xlsx , use demo, http://sheetjs.com/demos/table.html.

Hi @Mottie! ,
Could you include the feature with their (https://github.com/SheetJS/js-xlsx) permission? if they allow it.

[2015-07-13 05:53] Mottie commented on #963
Hi @masasih!

Thanks for sharing a link to the js-xlsx library. I would have to dig into it a bit more, but you should be able to use the [`output_callback` function](http://mottie.github.io/tablesorter/docs/example-widget-output.html#output_callback) to take the data provided by the output widget, as csv or json and input that into the js-xlsx library - it looks like [this demo](http://sheetjs.co

[2015-07-13 06:37] masasih commented on #963
great Mottie, i have customized with my own  external button with that but you included it but not used for the time being, out of context, do you have sample of external check box to switch filter widget for showing and hiding the filter?

[2015-07-13 09:06] fab-girard opened #964 "Hide initially a column even for important table's width"
Hello,
I've a problem with "columnSelector-false" class attribute on tablesorter from Mottie's fork.

In my case, "columnSelector-false" seems not working (or I don't understand how it should work). In fact columns are hidden only if I add "data-priority" with a value AND table's width is smaller than max-width defined here : http://view.jquerymobile.com/1.3.2/dist/demos/widgets/table-column-toggl

[2015-07-13 10:18] Herst commented on #964
Huh, what are you trying to achieving? Hiding it through jQueryMobile's Column Selector plugin or tablesorter's column selector widget? These two work quite differently and former might cause problems with tablesorter so I would advise against using it with tablesorter tables.

[2015-07-13 12:22] Mottie commented on #964
Hi @fab-girard!

You're correct. Setting the column in the [`columnSelector_columns` option](https://mottie.github.io/tablesorter/docs/example-widget-column-selector.html#column-selector-columns) to `false` will initialize the table with the column hidden, but by default the column selector initializes with "auto" mode enabled. To start out in manual mode, set the [`columnSelector_mediaqueryState`

[2015-07-13 12:34] Mottie commented on #963
@masasih I can't tell if you need coding help or if you want a demo showing all of the above requirements together.

If you just want to see demos, there are a lot of demos in the [main documentation](http://mottie.github.io/tablesorter/docs/), and even more on the [home wiki page](https://github.com/Mottie/tablesorter/wiki).

If you need coding help, it would make it so much easier if you would j

[2015-07-13 12:51] Mottie commented on #964
@Herst I do use `data-priority` attributes to emulate how jQuery mobile uses it... if there is interference, then you can change the data-attribute using the [`columnSelector_priority` option](https://mottie.github.io/tablesorter/docs/example-widget-column-selector.html#column-selector-priority) (default is `'data-priority'`).

[2015-07-13 13:36] kirancheema commented on #963
I use the PHPEXCEL library very successfully to generate xlsx files.

https://github.com/PHPOffice/PHPExcel

[2015-07-13 15:44] fab-girard commented on #964
Hello,
thank you @Mottie
Your proposal works, but it's not exactly what I was expecting. In fact I thought it was possible to hide completely a column when 'auto' is initially selected in columns selector only with  class="columnSelector-false" attribute.
What I understand from your answer : it is not possible to customize entirely default view when "auto" is the initial state of the column select

[2015-07-13 17:32] Mottie commented on #964
Then that would defeat the purpose of using "auto" which is using media queries to toggle column visibility...

Maybe set the desired column's priority to 7...

[code]

then it will be hidden first in narrow browser windows. You can also set the width at which priority 7 columns become hidden using the [`columnSelector_breakpoint` options](http://mottie.github.io/tablesorter/docs/example-widget-co

[2015-07-13 23:03] dileephb commented on #961
Mottie,

Can you please let me know if there is any solution to this. I started usinf table sorter for my grid purpose and now I am not able to meet this requirement. Your help will be greatly appreciated.

[2015-07-13 23:57] Mottie commented on #961
I started working on a demo for you this morning, then I found some issues:

* In a table with the pager applied to multiple tbodies:
  * How do you count total rows? I think counting by page would be the solution, but just in case the output were to include a row count, it wouldn't make sense, or would only make sense for the last tbody.
  * How do you count filtered rows?
  * What if each tbody

[2015-07-14 00:05] Mottie commented on #958
I would still like to help you find a solution.

I wonder if the `widthFixed` tablesorter option is set to `true`... this option adds a `<col>` for each column with a set percentage width. It would need to be set to `false` for resizing to properly work.

If that isn't the issue,  I would suspect that another script is interfering. It might still help if you would please share the tablesorter init

[2015-07-14 00:21] Mottie commented on #962
Hi @divyaalex!

I answered your question on [Stackoverflow](http://stackoverflow.com/q/31377639/145346) - I forgot you opened an issue as well.

Basically my solution was to add a new ["sort2Hash" widget](https://github.com/Mottie/tablesorter/blob/master/js/widgets/widget-sort2Hash.js) which saves the current sort to the browser location hash. It does not change the browser history.

You can see i

[2015-07-15 09:04] fab-girard commented on #964
Hello,
I agree, in one way I would like to customize an auto mode which is by definition "automatic" :)
But since data-priority value allows customization depending table's width, I would not be shocked to be able to hide a column in auto mode.

data-priority="7" seems not to be taken into account... even if I had a columnSelector_breakpoint options.

Modifying the css is not corresponding to what

[2015-07-15 09:59] CiTRO33 opened #965 "destroy or refeshWidgets break with Scroller-Widget source"
Hello,

i use different  Tables with Tablesorter on my page, since today i would like to include the scroller widget ( It Works  if the scroller widget is used in the Table ).
But if the scroller widget is not used on a table  the destroy or refeshWidgets function break with an error
you can see a javascript error in e.g. Firebug:
TypeError: f is undefined
..."+d.filterDisabled).prop("disabled",!1

[2015-07-15 11:43] divyaalex commented on #962
Hi,

Thank you for this awesome widget its working for me well.

Some issue I see here is when I shift click and select the columns to sort  I get a link  like this
http://localhost/test/run.php?pgm=20150714#&resultTable=0,0,1,0,2,0,3,0,4,0

now when I delete this string (#&resultTable=0,0,1,0,2,0,3,0,4,0) from url and reload the page the same string will get appended to the url,and instead of loa

[2015-07-15 12:57] Mottie commented on #965
Hi @CiTRO33!

Thanks for reporting this issue & the demo, it really helped!

I'll have this fixed shortly.

[2015-07-15 13:03] Mottie opened #966 "Scroller updateAll"
When "updateAll" is triggered *more than once* on a table with the scroller widget applied, the table disappears, i.e. the structure of the scroller widget remains after the second "updateAll", but the container where the original table should be is empty and can not be found any where else in the document.

[2015-07-15 16:50] Mottie commented on #962
I think the problem with the same string reappearing is due to the `saveSort` widget. Remove that and the problem should go away.

How are you using `href=javascript:void(0)` in the header?

The other browser tab problems you mention sounds like it's a Firefox option that is set to always open a new tab.

[2015-07-16 12:16] divyaalex commented on #962
Yes ,I removed saveSort and it is working as expected.Thank You!

[2015-07-17 09:57] fab-girard opened #967 "Conflict between scroller and columnSelector widgets"
Hello,
I'm trying to use these 2 widgets but unfortunately with conflict.
Here the demo :
http://jsfiddle.net/sLazbL1z/

Observe the result :
- columns from thead and tbody are not aligned
- if you resize the window (shorter width) an horizontal scrollbar appears (only vertical should appear according to me)
- the columnSelector dropdown menu cannot be used

Regards,
Fabien

[2015-07-17 12:58] Mottie commented on #967
Hi @fab-girard!

First off, the jQuery version is set to `jQuery (edge)`, which is jQuery v3.0.0-alpha1 and it always seems to act weird for me when it comes to measuring widths. So, I switched [the demo](http://jsfiddle.net/Mottie/sLazbL1z/2/) to use the more stable `jQuery 2.1.3`.

To make the columnSelector dropdown menu visible, add a z-index to `.columnSelector` definition:

[code]

[2015-07-17 15:35] bcmatz commented on #150
I have tried every example above and more and for the life of me cannot seem to get a column with a two digit year and a time to sort correctly.  In debug mode, the console tells me that the column sorter is text, however when I change that column data to use 4 digit year, it is shortDate.

Please advise.

[2015-07-17 15:41] Mottie commented on #150
Hi @bcmatz!

Did you include the two-digit year parser from above? Also, since it is not set up to auto detect the two-digit year, you'll need to assign it to a column. If you are using my branch of tablesorter, then add a `"sorter-ddmmyy"` class name to the header.

If you need a different two-digit year format, then include the [`parser-date-two-digit-year.js` file](https://github.com/Mottie/tab

[2015-07-17 15:45] bcmatz commented on #150
Yes.  My code is as follows:

$.tablesorter.addParser({
                    id: "ddmmyy",
                    is: function(s) {
                        return false;
                    },
                    format: function(s, table, cell, cellIndex) {
                        s = s
                            // replace separators
                            .replace(/\s+/g," ").replace(/[\-|\.|

[2015-07-17 15:46] bcmatz commented on #150
Also that column header's class is "sorter-ddmmyy"

[2015-07-17 15:48] Mottie commented on #150
Then you need to use a different parser... it looks like you need "mmddyy", right? The parser above is for European date formats "dd-mm-yy".

[2015-07-17 15:52] bcmatz commented on #150
I didn't even pay enough attention to notice that the parser was not in the format my data expects!  Where can I find a parser for MMDDYY offhand ?

[2015-07-17 15:52] Mottie commented on #150
I linked to the file above.

[2015-07-17 16:02] bcmatz commented on #150
Are you referencing parser-date-two-digit-year.js ?

[2015-07-17 16:26] bcmatz commented on #150
included the file parser-date-two-digit-year.js and still does not sort column correctly.

[2015-07-17 16:27] Mottie commented on #150
Are you adding a header class name of `"sorter-mmddyy"`?

[2015-07-17 16:30] bcmatz commented on #150
Yes

[2015-07-17 16:40] Mottie commented on #150
It works for me: http://jsfiddle.net/Mottie/abkNM/6525/

It doesn't look like you changed the [`usNumberFormat` option](http://mottie.github.io/tablesorter/docs/#usnumberformat) (default is `true`), but make sure it's `true`... I'm making sure, just-in-case.

[2015-07-17 16:42] bcmatz commented on #150
Examining your example, sorting by the only column, I get:

Date
01/24/15 23:13
01/26/15 00:00
01/27/15 22:19
02/06/14 13:55
03/04/15 14:57
06/2/15 10:22
11/1/12 8:14 AM

Which is not sorted by date correctly (notice 02/06/14 between two 2015 dates)

The problem seems to be sorting on the full date, including year.  Year does not seem to be taken into account

[2015-07-17 16:51] Mottie commented on #150
Sorry, I posted 6525 originally without the "sorter-mmddyy" as a header class name... I updated the link almost immediately to http://jsfiddle.net/Mottie/abkNM/6526/ but that doesn't update any emails that were send out... Try the updated demo instead.

[2015-07-17 17:52] bcmatz commented on #150
AHA, I believe I have figured out the issue.  In my table, in the <THEAD> section, there is a <TR> which houses all column headers, and an additional <TR> which contains count/average info for each column.

I believe the issue is that when that extra ROW in the THEAD element is present it skews the sort algorithm.

Example:

<thead>
<tr>
<th class="sort-mmddyy">some header></th>
<th>header 2></th>

[2015-07-17 18:00] Mottie commented on #150
Ah, yeah, it's probably because of the second row.

Tablesorter assumes that the last cell for a column contains the class name, so you can either move the class name to the last row, unless you plan to add `colspan` or `rowspan`.

Alternatively, you can get tablesorter to ignore the second column by adding this class name:

[code]

[2015-07-17 18:13] bcmatz commented on #150
That was EXACTLY the solution I needed!  Thanks!

I wonder if it makes sense to modify tablesorter in such a way that it only sorts based upon the data within the ```<TBODY>``` tag?

[2015-07-17 18:16] Mottie commented on #150
Huh? What do you mean by that?

It would make this conversation much easier if you would jump on to the `#tablesorter` IRC channel on freenode.net... [irccloud.com](https://www.irccloud.com/) makes it easy if you don't have a chat program.

[2015-07-17 18:17] bcmatz commented on #150
i'll hop in there in a little bit!

[2015-07-20 02:47] masasih commented on #963
Thanks Mottie, i will try them.

[2015-07-20 07:26] divyaalex commented on #962
Right now the browser URL is getting updated with table column indexes (&resultTable=0,0,1,0,3,1).
Is there a way I can replace these indexes with my column names.
(0,0 Hostname, 0,3 Testname ) or some abbreviations "(HNAM,TNAME etc..) for the columns ?

[2015-07-20 12:27] Mottie commented on #962
It would be possible, but it would require changing the widget code & encoding the URL, because it appears that there will be spaces. Also, the first number is the column index, the second is the sort direction, which can also be replaced with text:

    &resultTable=Last%20Name,descending,First%20Name,ascending,Address,ascending

Does the column change position? Why make it more complicated? The

[2015-07-20 15:48] fab-girard commented on #967
Hello,
you've right, the result is ok for me too when I switch to jQuery 2.1.3.
Jsfiddle demo I've used is just a simple sample of code I've tried to identify and generate to show you a problem I've in my real working project. It's hard to use the same code in jsfiddle since my project is a RoR project with some exotic libraries like turbolinks, paloma, etc... :)
I'm going to understand why those

[2015-07-20 16:10] fab-girard opened #968 "Tablesorter scroller widget with turbolinks"
Hello,
I've found a problem with tablesorter widget used with turbolinks gem activated on my Ruby on Rails project. After having a look on turbolinks' documentation, it seems to be used to improve js performances by not recompiling some js code between each page change.
In fact when turbolinks is active, scroller widget doesn't work at all (the defect occurs for instance when I'm clicking on a lin

[2015-07-20 16:24] Mottie commented on #967
Please make sure they both widgets are the most current version.

If that isn't the problem, can you please modify the demo to duplicate the issue and/or steps needed to duplicate it; because right now it appears to work for me without any problems.

[2015-07-20 16:41] Mottie commented on #968
The reason that code is outside of the `setup` function is because I only wanted that additional style to be added once. If the code is within the setup, then if there are multiple tables on the page, multiple copies of that same css will be added to the page. Maybe I should just add a separate css file, but then the ability to change class names used by the scroller widget will be lost.

The code

[2015-07-20 18:48] aetna-wsa opened #969 "Default Page size and page number are incorrect"
I have been going over this for hours, and it is not making any sense to me. I have page set to 0 and size set to 20, but no matter what I set them to, IE is bringing up "Page 2 of 9" with 10 items displayed. I've reset my code to the defaults, deleted and started over -- nothing fixes this. I'm hoping someone out there has seen this issue before and maybe knows how to fix it?

[2015-07-20 19:16] aetna-wsa commented on #969
I'm sorry, this was a browser issue, not an issue with tablesorter. How do you delete an issue?

[2015-07-20 19:16] #969 closed

[2015-07-20 20:03] fab-girard commented on #967
You're correct thank you!
The ruby/rails gem used an old version of scroll widget (some weeks or monthes ago). If I force the last gem of tablesorter :
https://rubygems.org/gems/jquery-tablesorter/versions/1.17.2
which is using table sorter 2.22.3, the problem is now corrected !
Sorry for the inconvenience :s
Best regards,
Fabien

[2015-07-20 20:03] #967 closed

[2015-07-20 20:10] Mottie commented on #969
Hi @aetna-wsa!

Actually the problem you're having might be due to the [`savePages` option](http://mottie.github.io/tablesorter/docs/#save-pages) which prioritizes the user saved set page and size over the initialization setting. Set this option to `false` (default is `true`) and see if that resolves the issues you are having.

[2015-07-20 20:13] aetna-wsa commented on #969
It does appear to be some sort of caching issue, that's for sure. In IE I have to logout of my application, open a new 'Private browsing' window and login again to view any updates I make (such as page or size.) I'll try this out since it sounds like it may just be the culprit! Thank you.

[2015-07-21 06:45] divyaalex commented on #962
The column may change position,because I have option to add and remove columns in the table.

This will be good to have because,whoever viewing the URL can see
 on which columns the sort has been performed and in which order .

[2015-07-21 10:02] fab-girard commented on #968
Hello,
thk u ! Thanks to your answer, I've found a gem/lib :
https://github.com/kossnocorp/jquery.turbolinks
which corrects my problem... the js source of this gem/lib is quite simple.

To answer you : yes I think the anonymous functions could cause some troubles with turbolinks but it's not the only use of case ... in my devtools if I add a breakpoint in :
[code]

[2015-07-21 14:50] aetna-wsa commented on #969
It worked, except now it will not go to the next page (1 of 3 pages, click next and it stays on 1)

[2015-07-21 14:52] aetna-wsa opened #971 "Help with checkbox selection and the pager widget"
I'm trying to use a "select all" checkbox, but when using it it's spanning across the pages (starting at page 1) when all I really want is to select all the checkboxes on the *displayed* page. Do you have any suggestions?

[2015-07-21 15:02] TheSin- commented on #971
just use the right classes

I don't know them off the top of my head cause I'm working on something else, but it's be like

$('table tr').not('.filtered').find('td input[type=checkbox]').prop('checked', true);

or something like that.

[2015-07-21 15:02] Mottie commented on #968
Are you using the [jquery-tablesorter-rails gem](https://github.com/themilkman/jquery-tablesorter-rails) or using the plugin as-is? Honestly, I don't know if that gem changes the wrapping method or fixes the issues you mention.

The `border-box` definition setting is highly recommended, especially for alignment issues. The scroller widget is the only widget in which this `box-sizing` is applied ([

[2015-07-21 15:03] Mottie commented on #962
Ok. I won't be able to work on this change for a few days...

[2015-07-21 15:05] Mottie commented on #969
Are you seeing any errors in the development console? Try setting the `debug` option to `true` and see what messages show up in the console.

[2015-07-21 15:08] Mottie commented on #971
With the pager widget involved, you'll need to use `$('table thead tr:visible')` at the beginning of the code @TheSin- shared.

Actually, I have [this demo](http://jsfiddle.net/abkNM/6163/) which might help.

[2015-07-21 15:49] CiTRO33 opened #972 "scrollbar inside the table with Scroller Widget"
Hello,
i have two tables on my page. On the first table i have a fixed height to show the data.
If there a more data  in the table  the scroller widget shows a scrollbar.
But now the width of the header and footer  are reduced of the width of the scrollbar.
I would like have the scrollbar inside the table, if a scrollbar is visible.

I created a Fiddle to demonstrate my "problem":
http://jsfiddle.

[2015-07-21 16:24] aetna-wsa commented on #971
Perfect!! Thank you.

[2015-07-21 17:23] aetna-wsa commented on #969
I just tried, and got no messages in the console.

[2015-07-21 17:27] aetna-wsa commented on #969
Actually, I put the debug in the pagerOptions... I just redid it putting it into .tablesorter and got:

jquery.tablesorter.min.js:2 Overall initialization time (194ms)
2015-07-21 13:24:51.803 jquery.tablesorter.min.js:2 Pager initializing
2015-07-21 13:24:51.853 jquery.tablesorter.min.js:2 Rebuilt table (42ms)
2015-07-21 13:24:51.858 jquery.tablesorter.min.js:2 Pager changing to page 0

[2015-07-21 17:27] justinmeats commented on #962
Love this widget, thank you.  I needed this functionality and was glad I found this, especially since it is still so new.

How hard would it be to get this widget to work with the saveSort widget?  I would like to use both widgets.  If the sort is present in the hash, use that, otherwise use the sort saved in storage.

[2015-07-21 18:31] Mottie commented on #962
Hi @justinmeats!

I'll look into that request as well.

[2015-07-21 18:32] Mottie commented on #969
And what do you see in the console when you try to change pages?

[2015-07-21 18:34] aetna-wsa commented on #969
That's what it says... it applies the widgets, rebuilds the table, then changes to page 0

[2015-07-21 18:34] Mottie commented on #972
Hi @CiTRO33!

I might have to bug @TheSin- again, he's gonna hate me! LOL... yeah, we'll see what we can do about the scrollbar, no guarantees though.

[2015-07-21 18:37] Mottie commented on #969
So, nothing new shows up in the console when you try to change the page?

Hmm, can you modify a demo to duplicate this issue?

* [pager addon](http://jsfiddle.net/1a5yu8yq/)
* [pager widget](http://jsfiddle.net/yfwwzvL8/)

[2015-07-21 18:41] aetna-wsa commented on #969
I'll do that and get it back to you. I'm using the addon, I didn't even know there was a widget. Is one preferred over the other (one may be newer or actively developed, for example?)

[2015-07-21 18:50] Mottie commented on #969
The widget and the addon basically have the exact same functionality.

I plan on phasing out the addon someday. So the widget would be preferred over the addon.

Also, the [custom build process](https://github.com/Mottie/tablesorter/wiki/Customize#custom-build), which can combine the tablesorter core with selected parsers & widgets, does not allow including the pager addon.

[2015-07-21 19:13] aetna-wsa commented on #969
Styling is wiped out, but you should get the picture. That being said, it works in the fiddle, just not on my site. :(

https://jsfiddle.net/1a5yu8yq/

[2015-07-21 19:34] Mottie commented on #969
The link you shared is the same link I shared above... make sure to use http:// and not https:// or the demo breaks.

[2015-07-21 19:43] aetna-wsa commented on #969
I'm sorry, here you go: http://jsfiddle.net/1a5yu8yq/67/

[2015-07-21 21:02] Mottie commented on #969
Ok, so if I had to think about why it would work in the fiddle and not on your site, this is what I am thinking about:

* Is there more than one table on the page? If so, does it also use a pager? You might need to set the container option to target the id:

[code]

    or make sure the "pager" class for each table is unique.
*  If supporting IE, make sure to include a `type` attribute in buttons

[2015-07-22 02:36] #962 closed

[2015-07-22 02:36] Mottie commented on #962
* Add `sort2Hash_useHeaderText` - use column header text or zero-based index
* Add `sort2Hash_processHeaderText` - extra column header text processing
* Add `sort2Hash_directionText` - sort direction text array
* Add `sort2Hash_overrideSaveSort` - override saveSort stored sort if true

[2015-07-22 02:48] Mottie commented on #962
[Updated demo](http://jsfiddle.net/Mottie/856bzzeL/561/) - after some bug fixes.

[2015-07-22 03:20] don750421 opened #973 "Tablesorter append data from AJAX,but tablesorterPager size fail"
Tablesorter version:  2.22.3

I used the AJAX Get data from Server side,but finally the table row always display 10.
P.S. tablesorterPager size property already set 9999

If I remove the tablesorterPager

[code]

The table row will display all the data.

HTML and JS is...

//===========HTML==============
[code]

//===========JS==============

[code]
ashx return message like

[code]

[2015-07-22 06:13] Mottie commented on #973
Hi @don750421!

I don't understand, why are you using the pager?

If you are using the pager and it seems to be stuck at 10 rows, it might be due to a previous stored page size. You can make the pager ignore stored values by setting the [`savePages` option](http://mottie.github.io/tablesorter/docs/#save-pages) to `false` (default is `true`).

Another reason might be the default size set by the `.p

[2015-07-22 12:25] aetna-wsa commented on #969
Adding  type="button" to the buttons did the trick! Thank you, I would have never thought of that in a million years. (BTW, your support is *amazing*.)

[2015-07-22 12:49] divyaalex commented on #962
Thanks a lot for this quick code change ...and Best wishes.....:)

[2015-07-23 04:33] Mottie commented on #950
Added to `grunt test` in https://github.com/Mottie/tablesorter/commit/75de112ef6f3d1c0010eeaef40b28340716ffa13.

[2015-07-23 12:49] Mottie commented on #950
Oh, in response to your question, I did have to modify the `.jscrc` file:

* Removed `"disallowQuotedKeysInObjects": "allButReserved"` - I like to add single quotes around the object keys, but I guess I'm not consistent. Here is an example from the scroller widget

[code]

	I guess it wouldn't hurt to add that setting back and clean up the code some more.

* Removed `"disallowSpacesInsideParenthes

[2015-07-23 16:55] aeryn21 opened #974 "columnSelector: multiple tables & container name difficulty"
I have two tables, maximum, on a page that use the columnSelector widget.  I am having issues getting both, and sometimes any, to work.

First run through, I didn't change the container names to be unique, so the column selection options were both showing up in the first #columnSelector box.  Ok, make them unique.  I used the code

[code]
and
[code]
to add uniqueness to the selector.

When pulled

[2015-07-23 17:37] justinmeats commented on #962
Thanks, or should I thank the OCD?  (It really should be called CDO with the letters in the proper order)

[2015-07-23 17:54] Mottie commented on #962
LOL exactly!

[2015-07-23 18:09] Mottie commented on #974
Hi @aeryn21!

I think the issue might be that the css needs to include the unique IDs as well.

[code]

I set up that demo to use only css for the popup, you might be better off using jQuery to add/remove a class name to make the popup visible.

Also, you don't need to include that `textExtraction` function because you can change the [`textAttribute` option](http://mottie.github.io/tablesorter/doc

[2015-07-23 18:27] Mottie commented on #974
Oh, and sorry, I have some more unsolicited advice...

This is the most important one to fix:
* I noticed multiple (at least 3) copies of jQuery being loaded on the page. Just load it once, at the top.

These are suggestions, so do what you want with them:
* Combine all the extra css on the page and move it into an external file. Better yet, take all the css on your page and compress it into one f

[2015-07-23 18:42] aeryn21 commented on #974
Thanks!  I'll implement those changes and report back.  :)

[2015-07-24 03:11] pashih opened #975 "pageReset not working when my table completes an update"
I'm using tablesorter 2.22.3 with the pager plugin. I can't seem to get my table to reset to the first page when it completes updating. I'm not using the filter widget, could that be the problem? If so, can you guide me on what I need to change in order to reset my table to the first page when no parameters other than 'page' gets updated in the ajax url I send to my server?

[2015-07-24 07:43] divyaalex commented on #962
When I added the new widgets (/*! Widget: sort2Hash - updated 7/21/2015 (v2.22.4) */) I am getting error

Uncaught ReferenceError: $table is not defined  jquery.tablesorter.combined.js:1710 Uncaught ReferenceError: $table is not defined

ts.hasWidget = function(table, name){
				$table = $(table); //error here
				return $table.length && $table[0].config && $table[0].config.widgetInit[name] || fal

[2015-07-24 12:01] Mottie commented on #975
Hi @pashih!

Are you seeing the request being sent to the server? Have you tried setting the `debug` option to `true`?

Normally the pager plugin attempts to prevent sending duplicate requests to the server. So, it should be sending a request to the server if the page changes. You can bypass this and *force* a request by triggering the [`pagerUpdate` method](http://mottie.github.io/tablesorter/doc

[2015-07-24 12:21] Mottie commented on #962
Please get the latest update from the master branch. I pushed a fix for the `hasWidget` function yesterday in https://github.com/Mottie/tablesorter/commit/a0d29c99f4c83e80ae35237935051765fad64da7. After you update, everything should work as expected.

[2015-07-24 15:48] invisiblekid opened #976 "Unable to get Math Ignore Working on Column Totals"
Hi Mottie,

It's very likely I'm doing something incorrect, however I don't appear to be able to get data-math="ignore" working on either rows or cells.

I've done a super simple JS Fiddle version of my example. I'm looking to 'ignore' the rows of Maria and Matt either by tr or by td.

http://jsfiddle.net/8fwc675z/4/

Could you provide me with a working fiddle if I'm doing something wrong, or inde

[2015-07-24 17:20] pashih commented on #975
Hi @Mottie,

I'll give the debug option a shot. In the meantime, here's the pager init code (prepareRequestParams is a function that preps my custom filters and returns the serialized query string):
$('.tablesorter-bootstrap').tablesorter({
        theme : "bootstrap",
        headerTemplate : '{content}',
        widgets : ["uitheme", "zebra"],
        widthFixed : true
    }).tablesorterPager({

[2015-07-24 17:26] Mottie commented on #976
Hi @invisiblekid!

Hmm, that looks like a bug. I'll have it fixed momentarily.

[2015-07-24 17:27] pashih commented on #975
Turned on the debug option but nothing seems to have changed. Are the pager settings somehow cached on my browser? If so, do I need to somehow force the new settings to be captured?

[2015-07-24 17:28] #976 closed

[2015-07-24 17:49] pashih commented on #975
Actually looking into it some more... it looks like the pager settings are shared across different browser tabs. Ie. I'm on page 7 on one tab. When I load the same table on another tab it loads page 7 as well. Is that expected behavior? Is there a way to change that?

[2015-07-24 17:57] Mottie commented on #975
Hmm, ok. I think I'm confused. When I read this:

I wonder how is the table being updated? Are the pager arrows working? What about the page select dropdown? Or, how else is the page being set?

When the user sets a page, the table should be loading the results for that page and not the first.

As for the tabs thing, the pager shouldn't do that unless both tables have the same ID, are in the same

[2015-07-24 18:01] Mottie commented on #976
Here is an [updated demo](http://jsfiddle.net/Mottie/8fwc675z/5/) using the math widget from the master branch.

[2015-07-24 18:22] divyaalex commented on #962
I think now it is not preserving the sort...it fixed the header issue...
when i navigate and come back ,or copy paste url its loading a fresh page...
Am i missing something ..not sure...

[2015-07-24 18:29] divyaalex commented on #962
i feel its some problem with spaces in header when i sort with product and size its preserving,but Host Name,Test Name (which has spaces in header field create issue ?)

[2015-07-24 19:36] aeryn21 commented on #974
CSS still wasn't working.  :/  I switched to your Bootstrap method, attaching to IDs instead of the class, and both are working individually now.    Few more tweaks and we'll be set.   And I have no idea why 3 instances of jquery were in there.  Suppose that's what I get for using other folks' modules and not fully reading the code before integrating.

[2015-07-24 19:43] Mottie commented on #962
If you copied the code from the last demo I shared, I included some code in the `sort2Hash_processHeaderText` callback:

[code]

This code removes the spaces (`%20`), and any odd characters like `£` (which becomes `%C2%A3`) in the header text. I only added it to make the url more readable.

[2015-07-24 19:54] pashih commented on #975
Here's a visual for the controls that I use for my table. The pager controls (arrows and dropdown) do work properly to select my pages. I use the customAjaxUrl option to attach my custom filter selections to the ajax call. I trigger the pagerUpdate event whenever my custom filters are changed.

The main issue I'm running into is that when my custom filters change and I trigger the table update (vi

[2015-07-24 20:19] pashih commented on #975
Actually I read the documentation and the code again and I think I kind of understand where I went wrong. Originally I thought pageReset would be used upon any update to the table but it looks like you don't use it if the filters the table knows about aren't changed (because it would then be a pager triggered update using the same set of filters). Since I don't use the filter widget or bind my cus

[2015-07-24 20:25] Mottie commented on #975
Ahh, so maybe it is because you're not using the filter widget. Actually, more precisely, it is because the `filterStart` event isn't being triggered so the pager [`pageReset` option](http://mottie.github.io/tablesorter/docs/index.html#pager-page-reset) is never checked, nor updated.

What you're going to have to do is modify the `customAjaxUrl` function:

[code]

I commented out the `changeUrl` t

[2015-07-24 20:27] Mottie commented on #975
Ha, you figured it out... it takes me a while to provide a detailed response :wink:

[2015-07-24 20:33] pashih commented on #975
Good call on removing the example code. Didn't really know what it was doing and didn't dig in further. Thanks!

[2015-07-24 20:33] #975 closed

[2015-07-25 01:42] divyaalex commented on #962
yes...I removed that....working fine...Thanks...

[2015-07-25 07:25] franklysaputra opened #977 "tablesorter with tablescroller (fixed columns) and checkboxes in multiple columns"
Hi Mottie,

I am using your tablesorter plugin and tablescroller widget to make some columns and table header fixed. The problem is, the table I have has multiple checkboxes columns with select all checkbox in the header which will be scrollable. However, I have this working if I disabled "scroller_fixedColumns".

Here is my demo on JSFiddle http://jsfiddle.net/h3z153hw/

Thanksss!

[2015-07-25 19:03] jonnogibbo opened #978 "Build table widget - JSON - headers - translation error"
When using the build table widget for JSON, the headers are translated into HTML cells incorrectly - each letter of each word is translated into a th

example:

"headers":["URL","Grade","Price","Features","Count","status"]

converts to:

<img width="1306" alt="ford_comparison_tool_and__build_static_data_ford_json__comparison_project__ _brackets" src="https://cloud.githubusercontent.com/assets/1089

[2015-07-25 19:11] Mottie commented on #978
Hi @jonnogibbo!

Actually the `headers` option is expected to be an array of arrays since it can be set up to add multiple header rows ([demo](http://jsfiddle.net/hnzph5us/2/)):

[code]

Or multiple rows:

[code]

[2015-07-25 19:30] jonnogibbo commented on #978
Mottie - you hero! Apologies, my mistake.

[2015-07-25 19:30] #978 closed

[2015-07-25 23:04] Mottie commented on #978
I got your email about not having control over the JSON. In that case, you can use the `build_processing` callback function to modify the raw data how ever you need to make it compatible ([demo](http://jsfiddle.net/hnzph5us/4/)):

JSON

[code]

Tablesorter [Build widgetOption](http://mottie.github.io/tablesorter/docs/example-widget-build-table.html#options) `build_processing`:

[code]

[2015-07-26 12:58] Mottie commented on #977
Hi @franklysaputra!

I was working on a demo to make the header check boxes work with the scroller widget, but I ran into a few issues with the widget itself. Once I get the kinks worked out, I'll update the widget and post a demo for you.

[2015-07-26 16:00] franklysaputra commented on #977
Hi @Mottie

Thanks a lot man. I really appreciate it! :+1:

[2015-07-26 17:23] Mottie commented on #977
Ok, try this code. The main changes are in the `initialized` callback function ([demo](http://jsfiddle.net/h3z153hw/1/)):

[code]

I also added some css to add row highlighting to test the changes to the `parser-input-select.js` file as well as the `widget-scroller.js` file. Make sure to update both from the master branch.

[code]

[2015-07-26 17:32] Mottie commented on #977
I did notice the issue with the filter widget  having disabled filters in the checkbox columns... I'm still not sure why that is happening, but I'll work on that next.

[2015-07-26 17:38] Mottie commented on #977
LOL, duh... I see the `filter: false` in the `headers` option... *smack head*

[2015-07-27 04:15] franklysaputra commented on #977
Hi @Mottie

It works! Thank you very much mate. However, if I checked the last column or the columns which are hidden in the scrollable section, it scrolls back to the first column in the scrollable section. How to disable this?

Thanks!!!

[2015-07-27 07:58] masasih commented on #963
1. In the external checkbox code, target tablesorter-filter-row class name to toggle the row visibility
       $(document).on("click", "#cbxfilter", function (e) {
                $('.tablesorter-filter-row').toggle();
            });

      js fiiddle : http://jsfiddle.net/6s3wuuhc/3/
2.   Add border-radius to the table... jQuery UI themes do the same. (correct)
3.   Basic pager demo.
      js fi

[2015-07-27 08:22] masasih commented on #958
Latest  test now resizable function works ( added widthFixed:false and many parameters, sorter,filter,pager and so on)  ,  data means data in cell ( such as:  ", ', (,)  many special characters. i  but sometime the resize cursor was at wrong position, for this case i agree with @Herst.

@Mottie, you can close this case if you want to.
@Herst., could you give me the previous issue no so we can merg

[2015-07-28 20:05] Mottie commented on #977
Hmm, I think that'll require a bit of coding change to the scroller widget to save the scrollLeft and scrollTop position. I'll see what I can do.

[2015-07-28 20:07] Mottie commented on #974
So, it sounds like you're all good now. I'll go ahead and close this issue. If you do continue to have problems, feel free to continue the discussion in this thread.

[2015-07-28 20:07] #974 closed

[2015-07-28 20:09] Mottie commented on #971
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue the discussion in this thread.

[2015-07-28 20:09] #971 closed

[2015-07-28 20:10] Mottie commented on #965
This fix is now available in v2.22.4!

[2015-07-28 20:10] #965 closed

[2015-07-28 20:13] Mottie commented on #958
@masasih Could you provide a demo showing the resize cursor in the wrong positions. It would really help me troubleshoot the problem, otherwise I would just be guessing at the problem.

[2015-07-28 20:13] Mottie commented on #956
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue the discussion in this thread.

[2015-07-28 20:13] #956 closed

[2015-07-28 20:16] Mottie commented on #700
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue the discussion in this thread.

[2015-07-28 20:16] #700 closed

[2015-07-28 20:20] #881 closed

[2015-07-28 21:06] Mottie commented on #964
I guess it wouldn't hurt to initially hide selected columns. I'll look into it.

[2015-07-28 21:13] Mottie commented on #961
Since I don't see how this change would be useful or really even usable. I'm going to close this issue.

You should be able to use one set of pager controls to work on multiple tables. I just don't think it's a good idea unless all tables have the same number or rows.

[2015-07-28 21:13] #961 closed

[2015-07-28 21:35] Mottie commented on #930
I have tried everything to duplicate this issue including testing the [Bootstrap demo](http://mottie.github.io/tablesorter/docs/example-widget-bootstrap-theme.html) in which I wrapped the initialization code in a try/catch function and added an initial filter search. No exception was thrown.

I'm going to go ahead and close this issue. If you can create a demo showing this problem, then I would be

[2015-07-28 21:35] #930 closed

[2015-07-28 21:39] Mottie commented on #946
I don't know what to tell you... I still can't duplicate this issue.

I'm going to go ahead and close it. Maybe someday someone with more of a clue than me will encounter this problem and tell me how to fix it :grin:.

[2015-07-29 19:56] davehayes opened #979 "Adding a row in an editable table"
I'm trying to add an empty row in an editable table. The JS I'm using to do this is

[code]
This throws an error in the console:
[code]
Of course, the added rows are not editable at all.

I'm including the following files:
[code]

Is there something I am missing or is this possibly a bug? Is there a demo of addRows with an editable table somewhere?

[2015-07-29 21:06] Mottie commented on #979
Hi @davehayes!

When the [`addRows` method](http://mottie.github.io/tablesorter/docs/#addrows) is used, a reference to the newly added rows needs to be passed, not the html ([demo](http://jsfiddle.net/Mottie/xxmha2Ly/10/)).

[code]

[2015-07-29 21:21] davehayes commented on #979
Thank you very much. That got rid of the issue and my confusion.

However now the new row is not editable. Do I have to call addWidgets too?

[2015-07-29 21:35] Mottie commented on #979
I'm still going  to add some code to prevent that js error. So thanks for letting me know about it!

[2015-07-29 21:39] davehayes commented on #979
Not a problem.

Your js demo works to add an editable row, but my js does not set up a new editable row. Any ideas? I know this is probably my issue but just in case you might know... :)

[2015-07-29 21:42] Mottie commented on #979
I couldn't only guess...

* What's different between the js code to trigger the `addRows` method?
* Are there any errors in the console?
* If you are still stuck, please modify the demo I shared to demonstrate the reported problem.

[2015-07-29 22:08] davehayes commented on #979
* No effective difference that I can see. I'm comparing a new jsfiddle with what I've got to make sure.
* Nope
* That's proving difficult to do. I'm working on it! lol

I do notice that the rows are not being rewritten with <div contenteditable="true" class> in my applicaton...this is what appears to be going on in the jsfiddle example.

[2015-07-29 22:38] Mottie commented on #979
Is the HTML valid? There should not be any `colspan` or `rowspan` in the newly added rows as it messes with the indexing.

Other than that, I'm not sure why there continues to be an issue... maybe there is another script on the page interfering? Try disabling them one-by-one.

[2015-07-29 23:47] davehayes commented on #979
Ok after extensive console logging I've tracked the issue down this far:

In widget-editable.js near line 47 I inserted this:

[code]
The console output is
[code]
If you'll note the conditionals after that, you can see that if you have `wo.editable_columnsArray` defined as an array and `wo.editable_columns` defined as a string...neither conditional will fire.

I'm pretty sure you'll consider that

[2015-07-29 23:47] davehayes commented on #979
Sorry about closing it, I'm too fast for my mouse.

[2015-07-30 01:54] Mottie commented on #979
Ok, the error should no longer be thrown. I added a `debug` message as well.

Also, I've updated the `addRows` method so that if the table only contains one `tbody` then the method will accept a row string. If there are multiple tbodies, not counting information-only tbodies, then it wouldn't know where you want the row(s) added.

Additionally, I made it so you can call all the update methods dire

[2015-07-30 16:26] davehayes commented on #979
Thank you very much. I'm really not sure why I'd ever want more than one tbody in a table so I should be ok with your caveat there. I'll grab master (probably unwise to just cherry pick that commit).

[2015-07-30 16:53] meatheadmike opened #980 "destroy.pager appears broken"
Maybe I'm doing something wrong here, but no matter how I call destroy pager it seems to "keep on trucking" regardless. The example show here doesn't seem to work either:

https://mottie.github.io/tablesorter/docs/example-pager.html

If I click on "destroy" I can click next page, add rows, etc. It all works still.

[2015-07-30 17:29] davehayes commented on #979
This patch did not solve my issue. The issue appears to me to be that the `update` function in `widget-editable.js` is asking for this:

[code]

The first time this runs (when I initialize the table), cols is something like this

[code]

but when it runs after that, cols is empty. This is because `getColumns` only works once. It only works once because the logic in it sets `wo.editable_columnsArra

[2015-07-30 17:58] Mottie commented on #980
Hi @meatheadmike!

Ahh, it looks like broke it when I added unique pager namespaces in https://github.com/Mottie/tablesorter/commit/dd80e3c88fcc6834589272f2711fa76b6ed8bb46.

For now, you can still enable, disable and destroy the pager, but you'll need to get and use the namespace first ([demo](http://jsfiddle.net/Mottie/1a5yu8yq/68/)).

[code]

[2015-07-30 18:00] Mottie commented on #979
Why don't you send me a pull request? :smile_cat:

[2015-07-30 18:09] davehayes commented on #979
Mostly because I use an editor that messes up your whitespace. I will go that route if you want.

[2015-07-30 18:33] #980 closed

[2015-07-30 19:37] meatheadmike commented on #980
Now that's what I call efficiency! Thank you sir!

[2015-07-30 21:13] meatheadmike opened #981 "Adding/removing rows = pager troubles"
So here's my scenario... I have a table. I go to do a search via ajax. When it comes back I update the header and the rows. So in other words I'm completely rebuilding the table on each search. My problem is that the pagination acts pretty funky. Basically after the search is done everything *looks* ok. But click on the "last" button and you'll see that the pagination resets to the previous size.

[2015-07-30 21:57] Mottie commented on #981
Hey @meatheadmike!

It looks like the destroy method isn't unbinding the pager controls. I'll get to work on that fix.

[2015-07-30 22:03] JeroenNX opened #983 "Filter filtering on parsedData"
Hi,

Is it possible that with the latest version the filters always filter on parsedData even though:
- th does not have filter-parsed class
- filter_useParsedData is explicitly set to false (even though it's the default)
- no headers : { 0 : { filter : 'parsed' } }
- th does not have class="{ filter: 'parsed'}"
- th does not have data-filter="parsed"

I have a custom text extraction function (for

[2015-07-30 22:30] Mottie commented on #983
Hi @JeroenNX!

It might also depend on the parser. Some parsers have a `parsed: true` setting ([ref](http://mottie.github.io/tablesorter/docs/example-parsers-advanced.html)) which forces a column to always use parsed data.

Looking at the built-in parsers, only the "url" and "image" parsers have this flag set.

Also, it depends on the filter type. The following will use parsed data if the parser t

[2015-07-30 22:38] #981 closed

[2015-07-30 22:39] Mottie commented on #981
Don & verified - the demo you shared above works perfectly now :smile_cat:

[2015-07-30 22:43] meatheadmike commented on #981
Thank you again. You are definitely a JQ master!

[2015-07-30 23:10] JeroenNX commented on #983
Hi @Mottie ,

Thanks for your quick reply!
I made a minimal example on: https://jsfiddle.net/orze3jam/1/

Search in the date column for '20' => no results.
Then search for 123 => 2 results (from data-sortme).

Previously I was using version 2.19.1 with the exact same HTML/JS and with that version I was able to search for '20' or '07-2015' and get the expected results.

P.S.: I know there's a parse

[2015-07-31 00:00] Mottie commented on #979
Oh ok, I see what you're doing now... the reason `editable_columnsArray` can't be changed is because it is really an internal variable to store the columns set by the `editable_columns` option. It's easier and faster to reference the array when `editable_columns` is set as a string, like `'0-3'`.

I would prefer not to add a variable to `tse.myCols` for general use because some users may have more

[2015-07-31 00:26] davehayes commented on #979
I actually have more than one editable table on the page I'm working on, and this appears to work. It may be that my tables are behind tabs.

At any rate, since I don't fully grok your codebase yet so I can't comment on the right way to do that. I just know that the code I saw wasn't working for me. I generally write code so I use one and only one data source for the same data (editable_columns an

[2015-07-31 00:41] Mottie commented on #983
Hmm, ok internally when you use a data-attribute to sort on, it uses that as the unparsed value in the filter. I'll have to do some internal fiddling to save the actual cell content as well.

Anyway, if you only added the `data-sortme` attribute to get the sort to work properly, you dont' really need it. The problem is that the [`dateFormat` option](http://mottie.github.io/tablesorter/docs/#datefo

[2015-07-31 01:32] Mottie commented on #979
Ok, please try the updated editable widget in the master branch and let me know if the issue persists.

Also in this update, the `editable_columns` option will now accept a string with both a range and single column values, e.g. `1,3-5,7`.

I updated [this demo](http://jsfiddle.net/Mottie/xxmha2Ly/15/), but you won't notice much difference.

[2015-07-31 01:40] Mottie commented on #983
Hmm, I'll have to think about this some more...

Right now if a data-attribute is used, both the parsed and raw data have the same content.

If I save the raw text from the table when a data-attribute is set, a bunch of filter widget searches fail. Because, the filter will see the data-attribute content as parsed and the raw cell content as unparsed. And most of the time it is searching unparsed c

[2015-07-31 01:51] JeroenNX commented on #983
@Mottie,

Thank you for your elaborate answer.
Now that you have explained the cause of my issue I can easily work around it.

Maybe just leave everything the same and include a note in the docs for <code>textExtraction</code> that as of version X, if you use a data attribute in a custom <code>textExtraction</code> function (for sorting), the value of this attribute will also be used in filtering?

[2015-07-31 18:13] davehayes commented on #979
Awesome! The issue is gone with this patch. Thank you.

[2015-07-31 18:13] #979 closed

[2015-08-03 10:25] masasih commented on #958
maybe later, because i'm not using jsfiddle but my own program and cannot just copy and paste into jsfiddle.

[2015-08-04 05:03] franklysaputra commented on #977
Thanks again mate. I'll be waiting. :)

[2015-08-04 20:21] bindrid opened #984 "Table inside a hidden div does not size."
I use Ajax Tool kit tab controller on my pages. I have discovered that if the scroller widget is turned on for a back tab, or for that matter, just a plain hidden div (`<div style='display:none'>`), the scroller div width gets set to zero and stays that way even after the tab or div becomes visible.

How do I tell the table to resize itself once the tab is brought into view?

[2015-08-04 21:26] Mottie commented on #984
Hi @bindrid!

Try the `setFixedColumnSize` method, but don't pass a `size` value.

[code]

If that doesn't work, try triggering a window resize

[code]

And if neither of those methods work, please modify [this demo](http://jsfiddle.net/Mottie/mqv16pd4/) to show the problem. It'll help me troubleshoot the issue more easily.

[2015-08-05 06:16] bindrid commented on #984
I changed the demo to demonstrate the problem that I am having.

I set up the table on the second tab using jquery ui tabs.

You will see that after you click on the second tab to see the table that it will not appear until the browser is resized.

Using the debugger, I saw that the container for the scroller had its width set to zero.

Thanks for your interest in this,
Scott

----- Original Messa

[2015-08-05 12:24] Mottie commented on #984
If you look at the [home wiki page](https://github.com/Mottie/tablesorter/wiki#misc), there is a demo showing how to deal with the table when inside of jQuery UI tabs. Basically, the table needs to be updated because hidden elements have a zero-width ([demo](http://jsfiddle.net/Mottie/abkNM/6633/)):

[code]

[2015-08-05 18:59] Mottie commented on #963
I recently found this plugin: https://github.com/guyonroche/exceljs

I don't think I'll integrate either of the plugins mentioned here into the output widget; but a demo showing how to use them would be helpful. I'll try to spend some time this weekend and put together the demos.

[2015-08-05 19:13] Mottie commented on #955
I hope you had a nice vacation... I pretty much put this issue on the back burner, but I did investigate and found these interesting sites:

* http://html.cita.illinois.edu/nav/dtable/dtable-example-simple.php
* http://www.paciellogroup.com/blog/2014/10/notes-on-fixing-incorrect-table-structure-using-aria/

then, I found an [aXe extension for Chrome](https://chrome.google.com/webstore/detail/axe/l

[2015-08-07 06:48] don750421 commented on #973
It's resolve.Thanks Mottie

[2015-08-07 06:48] #973 closed

[2015-08-07 07:04] don750421 opened #985 "Tablesorter append data with dynamic column from AJAX ,but column select not work"
Tablesorter version: 2.22.3

Because Query DB result is not fixable,so I create the tablesorter after Query DB.
But the column select function is not work.
The "columnSelector_container: '#TableColSel' " always display "Auto" Item.

![image](https://cloud.githubusercontent.com/assets/13444821/9130544/5459a9d2-3d16-11e5-96c2-5567766a25f3.png)

![image](https://cloud.githubusercontent.com/assets/134

[2015-08-07 13:00] Mottie commented on #985
Hi @don750421!

With that code, if ajax is used more than once, tablesorter won't reinitialize correctly. The contents of the table are being cleared, but not the parameters saved to the `table`  element. Try moving the `id="info" to the wrapper div, then append the response with a table wrap:

[code]

[code]

If you don't want to use the `auto` feature, you can set the [`columnSelector_mediaquery

[2015-08-07 23:29] crazyserb commented on #273
I find it interesting that with the latest version 2.22.1 the performance is quite an issue on Firefox (with zebra, filter, ui-theme widgets enabled) and it takes about 10 seconds to fully load a dataset of about 80 records on a page (sure, there are about 45 columns, but that shouldn't be that much work)... whereas on Chrome that takes about 2-3 seconds in total, and the browser doesn't choke and

[2015-08-08 08:50] crazyserb opened #986 "Bind an onChange function to the filter fields - how?!"
how do I bind an onChange function to the filter fields? I've tried this:

$('.tablesorter-filter,.select2-input').on('change',function(){
	console.log("it's working...");
	myfunction();
});

But I get nothing... what am I missing?!

[2015-08-08 14:51] Mottie commented on #986
Hi @crazyserb!

Try using either of these methods ([demo](http://jsfiddle.net/856bzzeL/592/)):

[code]

\* Note the `search` method is binding to a [delegated event](http://api.jquery.com/on/#direct-and-delegated-events).

[2015-08-08 17:41] crazyserb commented on #986
That worked!

Thank you so much! I was dying here looking for the hook to latch onto...

[2015-08-10 01:16] don750421 commented on #985
Thanks Mottie Reply,
I try to modify my code .
Only use the <div></div>
<div id="info" style="overflow:auto;height:150px"></div>

[2015-08-10 01:38] Mottie commented on #985
Hmm, ok... I'm not 100% sure what the problem is, but maybe if you used the pager ajax functions things would work better.

[Here is a demo](http://jsfiddle.net/uwZc2/48/) of the column selector & pager working together.

[2015-08-11 04:50] GoGillDong opened #987 "current version scroller&headerSort not support? ie8 mode run"
![1](https://cloud.githubusercontent.com/assets/5512509/9190348/19fa1b7a-402f-11e5-9ebe-db2de0964544.png)
![2](https://cloud.githubusercontent.com/assets/5512509/9190388/a1349d9a-402f-11e5-8853-00661eed0078.png)

hi, thank you

current version use scroller&headerSort, tablesorter.js error and table header click
(ie8 mode run)

ie9 mode run is ok

I want to ie8 mode run is scroller&sort run

please

[2015-08-11 05:31] #987 closed

[2015-08-11 05:32] Mottie commented on #987
Hi @GoGillDong!

Thanks for reporting this issue. It is now fixed in the master branch, and will be available in the next update.

[2015-08-11 07:28] GoGillDong commented on #987
thank you!!

[2015-08-12 12:56] Federico-G opened #988 "Pager ts.showError shows undefined(0)"
I'm having a problem when ajax fails in the tablesorter pager. The function renderAjax calls ts.showError with
[code]

Where exception is a string and .message is undefined.
In my code exception contains the string "timeout"

[2015-08-12 15:29] Mottie commented on #988
Hi @Federico-G!

You're right! I have the [correct code in the pager addon](https://github.com/Mottie/tablesorter/blob/master/addons/pager/jquery.tablesorter.pager.js#L395-L402):

[code]

I guess I forgot to copy it over to the pager widget. I'll get right on that!

[2015-08-12 15:32] #988 closed

[2015-08-12 18:30] Federico-G opened #989 "Tablesorter add update table method"
One of the tablesorter methods is updateAll which description based on the docs is 'Update a column of cells (thead and tbody)'.
But it also refreshes the widgets:
[code]
Although I need to refresh the thead because I get the columns names after init, I don't want to refresh the pager widget.
I made a similar function without that line and it worked.

Could you add that function to the tablesorter

[2015-08-12 19:39] teefars commented on #478
Hi, I was struck in the same issue, and I'm concerned about tons of tables on my application. So I made this simple code that gives IDs to tables, numbered as they appear in the code, and apply the specific pager to each of them.

[code]

[2015-08-13 01:27] don750421 commented on #985
I modify my code again and follow your ajax function of sample code.

My .ashx return json format is following information is returned.
like
[1,[["3781478","1882472","V","2013/4/3 下午 03:22:06","2013/4/3 下午 03:22:06","998D510DD","CRT"]],["PACKAGE_ID","ID_NUMBER","PACKAGE_TYPE","CREATION_DATE","LAST_UPDATE_DATE","TEST_PACKAGE","STATUS"]]

but I can't use "hasOwnproperty('rows')" to get the row count

[2015-08-13 03:01] Mottie commented on #985
Yeah, it looks like it's returned an array of arrays.

Would you share your `ajaxProcessing` code (as text & not a screenshot) please? It might help me narrow down the problem.

[2015-08-13 03:06] Mottie commented on #989
Hi @Federico-G!

Ideally, I would prefer to use delegated event bindings on the header so it wouldn't ever need to be updated; but `delegate` wasn't added to jQuery until v1.4.2... and for some odd reason, I'm trying to maintain compatibility with jQuery v1.2.6.

Until I can stop support for older jQuery & older IE, I might look into adding a "updateHeader" method to just refresh the header cells

[2015-08-13 17:14] darkred opened #990 "Is it possible to only show up and down arrows without using a whole theme?"
I've made [this userscript](https://greasyfork.org/en/scripts/5751-metal-archives-discography-pages-reviews-column-split-and-sortable-tables).

(Among other things) It uses your great tablesorter fork (thank you!) to make the tables in all discography tabs sortable .
i.e. it just executes this to make the tables sortable:

[code]

The table sorts fine but the arrows don't show.

I know that by add

[2015-08-13 17:39] Mottie commented on #990
Hi @darkred!

Yeah, you don't need any theme at all... [here is a demo](http://jsfiddle.net/Mottie/856bzzeL/595/) using the following:

Script

[code]

[code]

[2015-08-13 18:22] darkred commented on #990
Thank you very much for the quick answer! I'm grateful.

[2015-08-13 18:22] #990 closed

[2015-08-13 18:39] jdufresne opened #991 "Bower warning: invalid-meta tablesorter is missing "ignore" entry in bower.json"
When installing tablesorter through Bower, Bower issues a warning: "invalid-meta tablesorter is missing "ignore" entry in bower.json".

The upstream tablesorter has the following entry in `bower.json`

[code]

Full output with warning:

[code]

[2015-08-13 19:04] Mottie commented on #991
Hi @jdufresne!

I hope just adding an empty `ignore` entry will suffice. If not, what needs to be changed?

[2015-08-13 19:04] #991 closed

[2015-08-13 19:06] Mottie commented on #991
I plan on pushing a release tomorrow, if that needs to happen to test out this change.

[2015-08-13 19:17] Federico-G opened #992 "Enhancement Request: Pager ajax errors"
Hi @Mottie

I saw this issue #486 about ts.showError in Pager

It's a very good idea, but how about making that more useful? For example if the ajax request fails, now I'll get only a message and not any xhr object or a way to ask for it again, or handle it in any other way rather than only show an error. Even `exception` is inside the xhr object (`xhr.statusText`)

I can redeclare the ts.showErro

[2015-08-14 07:19] don750421 commented on #985
Hi Mottie ,
I modify my code ajax and return json to again.but
my ajaxProcessing code is
ajaxProcessing: function (data) {
                            if (data && data.hasOwnProperty('rows')) {

                                var indx, r, row, c, d = data.rows,
                                // total number of rows (required)
                                total = data.total_rows,

[2015-08-14 07:36] don750421 opened #993 "How to use the Tablesorter master detail (child row) with ajax ?"
I want to used tablesorter to do master detail table.and I follow the demo to do.
https://mottie.github.io/tablesorter/docs/example-child-rows.html

my ajax return json is
![image](https://cloud.githubusercontent.com/assets/13444821/9269262/6894538c-429a-11e5-8f0d-2686047db89d.png)

but ajax return json string always " data = null "
![image](https://cloud.githubusercontent.com/assets/13444821/9269

[2015-08-14 15:39] Mottie commented on #993
Hi @don750421!

It appears that the JSON is not valid. The HTML in the rows array is not wrapped in quotes. jQuery won't parse invalid JSON, so make sure it is valid first by using http://jsonlint.com/

[2015-08-14 15:53] Mottie commented on #985
It appears that the issue is that the `thead` row is empty. Tablesorter won't initialize if there are no headers, so I think the easiest solution would be to add that HTML:

[code]

With that change, everything should work - [demo](http://jsfiddle.net/Mottie/1a5yu8yq/73/)

Oh, and to keep the nicely formatted header cell text, don't return the `headers` value from the `ajaxProcessing` function:

[

[2015-08-14 16:02] Mottie commented on #992
Hi @Federico-G!

Hmm, I guess I could add a pager error callback that can be used to change the message. I'll work on it this weekend.

[2015-08-14 17:44] Stephen-Hazel opened #994 "pasting from Excel...:("
when ya click on a cell in excel and copy to the clipboard it puts a buncha crappy html into the clipboard like...

[code]

(Actually, probably even a table around ^^THAT junk) and when you paste that crap into ole tablesorter content-editable, it totally corrupts the html that tablesorter is dealin' with.
Can you think of some way to keep this from happening?  Some sort of defense against excel?

[2015-08-14 21:13] Mottie commented on #994
Hi @Stephen-Hazel!

You have a few options:

* Use the [`editable_complete`](http://mottie.github.io/tablesorter/docs/example-widget-editable.html#editable-edit-complete) triggered event (default is `editComplete`) to modify the cell contents after pasting... but it's probably not the most efficient method. Since you would need to update the cache a second time.
* Use the [`editable_validate`](htt

[2015-08-14 21:31] Stephen-Hazel commented on #994
Hiya.  I was just looking for some workaround so Excel doesn't murder my table and put crap into the back end.  So I think the editable_validate thing will do the trick.  The only thing that should be in a cell is a string (for me).  So all I gotta do is use your option 2 above, eh?  that'll play nice with editable_wrapConent of '<div>' hopefully.  I'll give it a shot.  OK!  That works like a char

[2015-08-14 21:32] Stephen-Hazel commented on #994
Oh and that paste as plain text must be browser dependent - didn't see it in Firefox fyi

[2015-08-14 21:38] Mottie commented on #994
Hmm, that is odd... I guess paste as plain text is only in Chrome.

I'll leave this open. I'm still considering if an option to strip out HTML would be easier.

[2015-08-15 16:02] #992 closed

[2015-08-15 16:05] Mottie commented on #992
I added an `ajaxError` callback function, use it as follows:

[code]

[2015-08-16 08:59] richardgmcmahon opened #995 "index.html table not sorting"
the example table in index.html does not sort for me. I changed the jquery from 1.2.6 to latest and
it worked. i.e. changed

[code]

[2015-08-16 13:53] Mottie commented on #995
Hi @richardgmcmahon!

Thanks for reporting this issue! I don't have the unit tests set up to check the core against different versions of jQuery. It sounds like something I need to work on, either that or drop v1.2.6 support :wink:

[2015-08-16 13:54] #995 closed

[2015-08-17 00:24] don750421 commented on #985
Hmm, maybe you don't know my problem.Sorry~
I want to used a page let user key in the SQL Command.and the tablesorter will show query result.
but user SQL command and query column is non-fixed.
so... I want to set the tablesorter column by query result header.
If I used your solution ,the tablesorter header will be fixed...

![image](https://cloud.githubusercontent.com/assets/13444821/9296167/0436

[2015-08-17 01:41] don750421 commented on #993
Sorry,because I see the method in tablesorter 's docs
https://mottie.github.io/tablesorter/docs/index.html#api
![image](https://cloud.githubusercontent.com/assets/13444821/9296575/82228ede-44c2-11e5-9036-5c3b3b5f0e1a.png)

So,it is seems infeasible.
Well,what is the valid Json that used to child row??

Thanks.

[2015-08-17 03:32] Mottie commented on #985
Hmm, ok. It sounds like you need some way to update the contents of the column Selector. There isn't an easy method right now. I'll update the column selector widget to make this easier.

[2015-08-17 03:38] Mottie commented on #993
I think you misunderstood me... the JSON results in the screenshot (please stop posting screenshots of code) that was shared above did not have quotes.

I saw:

[code]

when I should see

[code]

as a JSON result.

Anyway, if you want to add a child row, the `<tr>` just needs the child row class name (set by the [`cssChildRow` option](https://mottie.github.io/tablesorter/docs/index.html#csschildro

[2015-08-17 03:46] #985 closed

[2015-08-17 03:56] Mottie commented on #985
Ok, here is an [updated demo](http://jsfiddle.net/Mottie/1a5yu8yq/76/).

All you need to do is include the following code to refresh the Column Selector container contents:

[code]

This method will also update using any changed `data-priority` or `data-selector-name` attributes.

Use this updated method as follows (showing examples added to the documentation):

| Method | Description |
|-----|---

[2015-08-17 05:36] franklysaputra commented on #977
Hi Mottie,

Have you figured out the scrollLeft and scrollTop position? Thanks man

[2015-08-17 05:40] don750421 commented on #985
Thanks Mottie.
I will look forward to your next update

[2015-08-17 09:38] don750421 commented on #993
Sorry , I really misunderstood you,so I modify return json string.

[code]
and my javascript is following..
[code]

There is an error in tablesorter.pager
![image](https://cloud.githubusercontent.com/assets/13444821/9302093/651431d2-4506-11e5-902a-a76cbb0c1878.png)

And I also post my code on the fiddle http://jsfiddle.net/3hruotu5/

Have I missed something?

[2015-08-17 12:35] Mottie commented on #993
Ok, I see a few issues:

* The JSON *should not* have multiple rows separated by commas

[code]

    unless your `ajaxProcessing` function does this:

[code]

    or actually, you can keep the current `ajaxProcessing` function if you combine the rows and remove the wrapping array:

[code]

* Don't use a `rowspan` or `colspan` in *non-child rows*. Using spans within multiple child rows is okay. Inc

[2015-08-17 12:43] Mottie commented on #977
Sorry, I haven't touched the scroller widgets in a while. I'm not sure when I'll have time to get around to it.

[2015-08-18 00:08] kxlow opened #996 "Sorted tables with checked checkboxes"
It seems I can only reproduce this on Chrome; this doesn't appear to happen on IE or Firefox.

Demo: https://jsfiddle.net/b3pkuesc/

## Description
If you open the above jsfiddle in Chrome, you will see that the checkboxes are correctly checked (the checked checkbox should be on the same row as the 2, as defined in the html).
However, if the table has a sort that alters the order of the rows (you

[2015-08-18 01:36] don750421 commented on #993
Thanks Mottie,
I follow your suggest and modify my code.
JSON return string.
[code]
and modify ajax 's  ajaxUrl  option
[code]
but the same error message at line #430
![image](https://cloud.githubusercontent.com/assets/13444821/9320367/acbd2266-458b-11e5-90e8-c9a019db00a4.png)
![image](https://cloud.githubusercontent.com/assets/13444821/9320370/be840f3c-458b-11e5-8a6c-5f311193c24d.png)

Why is the

[2015-08-18 01:45] Mottie commented on #993
Remove the array wrapping (`[ ]`) the `"rows" value:

Change this

[code]

to this:

[code]

[2015-08-18 02:51] Mottie commented on #996
Hi @kxlow!

When I middle click to reload the tab, I do find that the check appears in row 1. But, when I right click and use "Inspect element" on that row, the input does not have a `checked` attribute - it is still aligned with row 2.

I suspect that this might be an issue with Chrome - which I thought did not save form values (Firefox does) when using a "normal" reload.

It appears that with a

[2015-08-18 03:22] don750421 commented on #993
Oh no, I forget to remove  wrapping array.sorry.
but I have another question that the child row can't hide after ajax return.

I think it is because set the hide before ajax return.
[code]
Have I any method or api  to hide child row after ajax return ?

[2015-08-18 04:12] Mottie commented on #993
Try css:

[code]

[2015-08-18 08:16] don750421 commented on #993
Thanks @Mottie ,it is work for me.
I have some questions about tablesorter.
If I used the ajax to get data from database,
so .. all of filter, sort,paging is need to do on the server side ?
or I just query all the data by database and  tablesorter plugin will to do this ?

Because I used the child row and ajax,but the paging,sort,filter is not work..
I don't know what happened?
![image](https://cl

[2015-08-18 12:49] Mottie commented on #993
Yes, you will have to sort, filter and provide the correct number of selected rows, total rows & filtered rows to the pager when you use ajax. The pager doesn't have access to your database to get all of these values, nor can tablesorter sort a small part of a larger database without access to the entire database.

I think the best example of what you want is in the documentation under [`ajaxProce

[2015-08-18 12:58] Mottie commented on #984
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue the discussion in this thread.

[2015-08-18 12:58] #984 closed

[2015-08-18 12:58] Mottie commented on #986
I'm guessing this issue has been resolved, so I'm going to close it. If you continue to have problems, please feel free to continue the discussion in this thread.

[2015-08-18 12:58] #986 closed

[2015-08-18 20:21] Federico-G commented on #996
Hi!

I can confirm the bug in chrome 44 (not mozilla) (ubuntu 12.04.5) but if you add a name (attr) to the checked input it works.
https://jsfiddle.net/u2x4rybj/1/
(If you add it to the 1st, the checked will we the 3rd, weird...)
https://jsfiddle.net/u2x4rybj/3/

[2015-08-19 01:21] don750421 commented on #993
Thanks for your patient explanation; it's all now clear as crystal.
but I am still curious about it's work that used another ajax method.
[code]

[2015-08-19 01:48] Mottie commented on #993
It's because within the pager addon/widget, I turn off tablesorter's sorting ability.

If you load in a table by a different method, then sorting will still be enabled. The reason it is disabled on the client side is because when a user clicks on the header to sort a column, they *expect* the sort to apply to the entire database, not just what is visible on the page.

If there was some way to diff

[2015-08-19 11:28] don750421 commented on #993
OK, Thanks @Mottie .

If I using the child row and filter in my page,and it's multi sort key and multi filter column.
like this...
[code]

How do I Parse the sort and fcol array on the server-side ?
Is this the only-way that parse the array ?
[code]

[2015-08-19 12:31] Mottie commented on #993
I'm sorry, I don't know very much about server-side languages.

You will find a better answer if you asked that question over on [Stackoverflow](http://stackoverflow.com/). But, make sure to search for the answer before asking, or your question will get closed without any response.

[2015-08-19 15:09] bindrid commented on #984
yes, it has. I did implement the logic using your suggestion.
 
Sorry, I did not respond sooner, vacation, etc.
 
Thank you,
Scott

----- Original Message -----

From: "Rob G" <notifications@github.com>
To: "Mottie/tablesorter" <tablesorter@noreply.github.com>
Cc: "bindrid" <scottgs@comcast.net>
Sent: Tuesday, August 18, 2015 5:58:42 AM
Subject: Re: [tablesorter] Table inside a hidden div does not

[2015-08-19 20:17] Federico-G opened #997 "pager showError error"
Hi @Mottie!

In v2.23.0 when showError is called and xhr is undefined the browser throws:
Uncaught TypeError: Cannot read property 'status' of undefined

So I read the code and noticed this:
[code]

I think typ must be equals to 'object'

[2015-08-19 20:41] acidnine commented on #997
Same here, rolled back to v2.22.5 until fixed.

[2015-08-19 20:46] Mottie commented on #997
Hi @Federico-G & @acidnine!

Thanks for reporting this problem, I'll have it fixed shortly.

[2015-08-19 21:33] #997 closed

[2015-08-19 21:40] Mottie commented on #997
Ok, so I ended up making a few internal changes.

* The `ajaxError` callback now includes a `settings` parameter, which previously was not included from the jQuery [`.ajaxError()` method](http://api.jquery.com/ajaxError/)

[code]

    I entered it between the `xhr` and `exception` parameter to keep the same order as the parameters returned by jQuery.

* The `ajaxError` callback is now *always* cal

[2015-08-19 23:33] Mottie commented on #989
Added in v2.23.0.

[2015-08-19 23:33] #989 closed

[2015-08-21 13:00] Oseusus opened #998 "Searchig across multiple Table"
## Hi Together,
I struggle with a problem and I thought it might be possible that someone might have a simple solution.
I'm Trying to filter over multiple tables with the tablesorter. The Problem is that i would like to do that seperately from the normal filter options.

For __Example__ that you can choose to filter the first col over all tables and filter in one specific col in only the one table

[2015-08-21 14:29] AviHafner opened #999 "Sort accordance based on image"
Hello
I will be happy if you can provide me 2  examples
1) If there is IMG in TD
2) If there HREF in TD

Thank you
I love what you are doing

[2015-08-21 15:40] Mottie commented on #999
Hi @AviHafner!

## Image

There is an image parser built into tablesorter (only in my fork), where you set the column header class with "sorter-image". By default, the parser extracts out the `alt` attribute content for sorting. If there is no `alt` attribute, then it falls back to the table cell text. You can change the targeted attribute by setting the [`imgAttr` option](http://mottie.github.io/

[2015-08-21 19:08] #998 closed

[2015-08-21 19:08] Mottie commented on #998
Hi @Oseusus!

I found a problem in the filter widget where once an external input is set as an "anyMatch" input, the value from that input would always be used to perform an "anyMatch" search. In the demo, the external input was being dynamically changed, so the search wasn't working as expected.

I fixed the filter widget, and modified some of the code in the demo and this is the result ([demo](h

[2015-08-23 08:04] AviHafner commented on #999
Hey Rob
I put a change to the algorithm that you sent me,
I will be happy if you check it and Approve it,
Or send me right algorithm

    // Custom parser for parsing Href values
       $.tablesorter.addParser({
           id: "href",
           is: function () {
               return false;
           },
           format: function (s, table, cell) {
               var href = $(cell).find('a').at

[2015-08-23 12:16] Mottie commented on #999
Sadly that parser won't work because if an `href` is defined, it saves the cache value as `1`, so the sort will look like it gets stuck. Also, it's set to "numeric" so even if a string was returned, string values become zero (i.e. `parseFloat('foo') // 0`)

Try this parser instead ([demo](http://jsfiddle.net/Mottie/856bzzeL/601/)):

[code]

I copied the `replace` function from the "url" parser bec

[2015-08-24 11:23] terwarf opened #1000 "Force column with grouping widgets"
Hello Mottie,

is there any way to force the grouping widget to only group on a specified column, regardless from the sorting of the table?
I'm using multiple hidden rows to build groups with forced sorting order - but the first column in the sorting list isn't the one I want to create the groups from (which workes fine).

My wish would be a new option for the widget, something like 'group_forceGr

[2015-08-24 11:51] Mottie commented on #1000
Hi @terwarf!

Right now the grouping widget can only group one column at a time. A good portion of it would need to be rewritten to deal with multiple columns. Other than that, it wouldn't be difficult to make the group widget force group one column.

[2015-08-24 12:18] terwarf commented on #1000
Hi @Mottie,

thanks for the fast response - forcing to group one single column would be perfectly fine for me.

[2015-08-24 12:24] Mottie commented on #1000
I was just messing with the code... the way it is set right now would group the rows without even requiring a sort. Is that okay or should I include a check to make sure a sort is applied to the table? Hmm, maybe I should add an option for that too LOL.

[2015-08-24 13:05] terwarf commented on #1000
Well - we love options - don't we? ;)

[2015-08-24 15:53] Mottie commented on #1000
Ok, done. The update is available in the master branch.

The new options are:

* `group_forceColumn` (default `[]`) - Apply the grouping widget only to selected column; only the first value of the array is used; set as an array for future expansion.
* `group_enforceSort` (default `true`) - Only apply group_forceColumn when a sort is applied to the table.

It took me a bit longer than I planned bec

[2015-08-25 06:32] Oseusus commented on #998
Hi @Mottie ,
Thanks a lot. That helped me and I think it was also benefit for you. :-)

Salute Oseusus

[2015-08-25 08:08] terwarf commented on #1000
Hi @Mottie,

works like a charme for me.
Didn't testet the group_enforceSort - option, as my tables have a forced sort order anyway.

Thank's a lot for your great work and the impressing fast reactions.

[2015-08-26 08:59] simongcc opened #1001 "filter_reset does not work if multiple tables use the same DOM"
I have several tables and of each using column filter widgets, the filter_reset work fine if each table assign different DOM to control but it doesn't work if all point to the same.
For instance, I have a button to reset all views, it is not appropriate to make 3 different buttons.
Is the design feasible or not contradict to the spirit of the design to make it multiple tables binding to same filte

[2015-08-26 12:22] Mottie commented on #1001
Hi @simongcc!

Thanks for reporting this issue. It will be fixed within the master branch shortly.

[2015-08-26 12:22] #1001 closed

[2015-08-27 08:58] ciadch opened #1002 "Error with filter : Uncaught TypeError: Cannot read property '0' of undefined"
Hi Mottie,

I update tablesorter today and I encouter an bug with filter widget. When I apply tablesorter on my table, I always have this JS error : Uncaught TypeError: Cannot read property '0' of undefined. and I'm unable to filter. When I remove the filter widget, everything works correctly.

Here is the detail of my tablesorter code :
[code]

And I include in my page :
jquery.tablesorter.min.js

[2015-08-27 12:11] Mottie commented on #1002
Hi @ciadch!

Thanks for reporting this issue! Luckily it was due to a change that is only in the master branch. I'll have it fixed shortly.

[2015-08-27 12:15] #1002 closed

[2015-08-27 12:45] ciadch commented on #1002
Amazing ! Everything works correctly. Thank you for your rapidity.

[2015-08-27 15:41] batman314 opened #1003 "scroller and editable speed enhancement with pager widget"
Hi!
First of all - thanks for great plugin and your hard work on tablesorter!

I noticed, that "scroller" and "editable" slow down greatly when working with big tables. Even if I use "pager", it feels like  "scroller" and "editable" make calculations for whole table, not only for its visible part (page). Though pager's load priority is higher, then scroller one. Is it possible to make an option or

[2015-08-27 15:59] don750421 opened #1004 "daterangepicker in tablesorter with ajax is not work ?"
I want to use the daterangepicker in tablesorter , but it's not work.
I don't know why it has not display anything.

I follow the sample to do . http://jsfiddle.net/Mottie/abkNM/2919/
and I download the js and css from https://github.com/longbill/jquery-date-range-picker

I click the filter input box ,but it's not work.
![image](https://cloud.githubusercontent.com/assets/13444821/9525579/58be7546-

[2015-08-27 16:32] Mottie commented on #1004
Hi @don750421!

I think the difference might be the size of the tables, which is why the jsFiddle demo works. So try initializing the date picker inside of a `"filterInit"` event ([demo](http://jsfiddle.net/Mottie/abkNM/6795/))

[code]

[2015-08-27 16:44] Mottie commented on #1003
Hi @batman314!

Are you using the scroller to fix a column? The scroller widget is not a very efficient widget and has to rebuild portions of the table when resizing and changing pager pages.

I have been thinking about internalizing a method into the core to set where a column should be rendered thus eliminating the need to duplicate portions of the table. I also plan to make a new scroller widge

[2015-08-27 17:29] batman314 commented on #1003
Thanks for quick answer!

Yes, I'm using "scroller" to fix columns, because some of my tables are relevantly short (200-300 rows), but like 6-7 screens wide lol. I know, it sounds ridiculuos, but it is unavoidable, unfortunately.  And other tables have thousands of rows, where I'd like to use "editable". But despite using "pager", "editable" slows down significantly after a 1000 of rows.

Looking

[2015-08-28 01:08] don750421 commented on #1004
Thanks @Mottie
the daterangepicker is show after follow you suggestion.
but when I click the close button in daterangepicker.
the select date is not show in the filter inputbox .(see the picture)

before click the close button
![image](https://cloud.githubusercontent.com/assets/13444821/9536875/f049989a-4d63-11e5-905c-0a3b87c1f7c4.png)

after click the close button
![image](https://cloud.githubuse

[2015-08-28 01:15] Mottie commented on #1004
To refresh a search on the table, include a `false` flag to force a repeat search:

[code]

[2015-08-28 01:39] don750421 commented on #1004
My datepicker is 0.0.8 and same as the jsFiddle.
![image](https://cloud.githubusercontent.com/assets/13444821/9537184/170976d6-4d68-11e5-875c-5613a5a18855.png)

and the tablesorter is the 2.22.3

[2015-08-28 02:37] Mottie commented on #1004
Hmm, maybe it's the `$('.datepicker').dateRangePicker();` inside of the `ajaxProcessing` function?... remove it!

[2015-08-28 02:46] don750421 commented on #1004
Sorry @Mottie .
I am already remove the  $('.datepicker').dateRangePicker(); after follow your suggest to modify my code.

so my code is like this ..
[code]

[2015-08-31 07:17] Francks11 commented on #1003
Hi @Mottie

I encourage you to this improvement #933.

gift for Christmas? :-)

[2015-08-31 13:29] sytolk commented on #806
Thanks @loostro

[2015-08-31 19:47] bchartoff opened #1005 "colspan and rowspan in thead causes unexpected behavior with most recent version"
The example table here
http://mottie.github.io/tablesorter/docs/example-header-column-span.html

Does not behave as expected, using the current version, in a variety of buggy ways (e.g. clicking "First Group" sorts by "Index"). I encountered similar issues in my own table, which I was able to fix by using an older version (didn't test every version number, but currently using 2.22.0 which works al

[2015-08-31 20:07] Mottie commented on #1005
Hi @bchartoff!

Thanks for reporting this issue! Yeah, I think this issue popped up when I tried to fix an issue with IE8. I'll try to get this fixed ASAP!

[2015-08-31 20:11] bchartoff commented on #1005
Thanks, @Mottie ! And thanks for the truly stupendous plugin. Yeah, IE ruins everything...

[2015-09-01 03:56] Mottie commented on #987
Hi @GoGillDong!

Can you please make sure that commit https://github.com/Mottie/tablesorter/commit/91a76eae45dd4cdf9c13a4ab895d95037250de57 doesn't break IE8 again? Thanks!

[2015-09-01 13:36] bchartoff commented on #1005
:+1: fixed the buggy behavior, thanks so much!

However, The problem I outlined starting on row 8 of my comment above still persists. Should I open a separate issue? To demonstrate the problem more clearly, I made this fiddle

https://jsfiddle.net/bchartoff/sqyxtt1h/7/

It's a slight modification of the table in the demo. As you can see, clicking on 'First Group` toggles the `tablesorter-headerAsc

[2015-09-01 15:07] Mottie commented on #1005
Oh, oops, I must have missed that before. I'll have a look. No need to open another issue.

[2015-09-01 15:45] #1005 closed

[2015-09-01 15:47] Mottie commented on #1005
Ok, everything should be all fixed now... hopefully it didn't break IE8 again LOL

[2015-09-01 15:48] Mottie commented on #1000
Version 2.23.3 is now available with these changes.

[2015-09-01 15:49] #1000 closed

[2015-09-01 16:01] bchartoff commented on #1005
Haha, thanks again, @Mottie This has been a pretty stupendous FOSS interaction. I'm just blown away by your speed, helpfulness, and familiarity with this codebase. I hope to contribute to the plugin sometime soon!

[2015-09-01 23:10] batman314 commented on #933
Will Clusterize ideology be compatible with filter and column ordering?

[2015-09-02 00:40] Mottie commented on #933
Before I can implement clusterize, I think I need to incorporate a way to supply data to tablesorter instead of a table full of HTML. So table data will be need to be stored in an object, or obtained via ajax.

So, if all data is stored in memory, then the filter widget should be able to work with the data (it will need to be adapted). If using ajax, then your server will do the filtering.

Column

[2015-09-03 05:52] crazyserb opened #1006 "How to change background on the filtered columns?"
I couldn't find this anywhere - what do I need to do to bind some sort of a class to all the columns (or td's and th's in specific columns) that were filtered in one way or another (whether that's select, text input, search, etc), so that I can visually see which columns were filtered (it's a pain in the ass to scroll left and right with around 40-50 columns in place and try to figure out which on

[2015-09-03 07:39] terwarf commented on #994
Hi @Mottie, hi @Stephen-Hazel,

I have a simple parser for copying values from spreadsheets - tested only with libre office, since I don't use MS-Office. Maybe it's of any use for you.

http://jsfiddle.net/terwarf/v4zar9d8/

[2015-09-03 08:42] GoGillDong commented on #987
Hi @Mottie

update version is scroller&headerSort ie8 test No problem!

 so good!

Thanks!

[2015-09-03 09:10] crazyserb opened #1007 "Select2 as checkboxes instead of a list of items?"
Is there a way to format select2 filter field so it shows up as a popup with checkboxes of some sort, without affecting the width/height of the field itself, as it does in this default example:

http://prntscr.com/8c2biw

As in, the more items I select in there the more that field gets stretched and pushed down in height. I'd rather have it stay the same height/width and have some sort of a popup

[2015-09-03 09:12] don750421 opened #1008 "How to refresh Ajax pager widget after modify the rows data ?"
I want to let user modify the table data.
When user click the button top of the table.and the button will call the function.

![image](https://cloud.githubusercontent.com/assets/13444821/9654477/a470266a-525d-11e5-89cc-da1bf53ff7ae.png)

my code is...
[code]
if the update ajax return success ,the table column 6 and column 9 (red square) data will be change(like first row.)
but I used the update or

[2015-09-03 09:19] crazyserb commented on #273
I've also tried implementing these (ajax loading of extra data):

https://mottie.github.io/tablesorter/docs/example-pager-ajax.html
https://mottie.github.io/tablesorter/docs/example-widget-pager-ajax.html

but the sorting or filtering on those examples alone isn't working at all, so if I add the ajax loading functionality into 400 record table I'm working with I might cut down the loading time by

[2015-09-03 11:29] Mottie commented on #1006
Hi @crazyserb!

[Here is a demo](http://jsfiddle.net/Mottie/856bzzeL/637/)

Start with this css. It's defined this way to give it greater specificity than the definition from the theme:

[code]

Then use the [`filterEnd` event](http://mottie.github.io/tablesorter/docs/#filterend) to add classes to filter cells that have a value:

[code]

To get the last search, you can use the [`getFilters` functi

[2015-09-03 11:32] Mottie commented on #994
Hi @terwarf!

Thanks, I'll try it out with MS-Office!

[2015-09-03 11:47] Mottie commented on #1007
Hi @crazyserb!

That sounds like a question to ask someone who takes care of the select2 plugin.

I don't think there is an option, but I do remember a different select plugin that displays something like "and XX other options" when there are multiple choices. I don't remember its name.

[2015-09-03 11:53] Mottie commented on #1008
Hi @don750421!

Don't use "updateAll" unless the header changes.

I'm sorry I can't read the language in the screenshot. If the user is changing the value of the table directly inside the table, then all you would need is to trigger an update. If the user is changing the value in that dropdown, then you'll need to add the changes into the table, then trigger an "update":

[code]

[2015-09-03 11:57] Mottie commented on #273
@crazyserb Try using the pager without ajax first and see if that helps with the loading time.

You're not really giving up sorting & filtering, you're just shifting it to the server instead of the client. The client can't sort or filter the entire data set because it doesn't have access to the entire data set.

[2015-09-03 13:09] don750421 commented on #1008
Hmm,OK,maybe you don't know my problem. (Sorry,my English is very basic)
When user check the row (the checkbox by row) that user want to modify.
then user will click the dropdown list item which they want to change.
and the dropdown item will call ajax function to modify the row data in the database.
so...my change data in the database with the ajax function. (in my last post)

so,when I change th

[2015-09-03 13:35] crazyserb commented on #273
Ahh... so if I go the ajax route, the client can only sort/filter through
the data set that they've loaded. Hmm, ok, there goes that idea then.

I'm already using the pager and it takes a loooong time to load 300 records
with 50 columns + x-editable attached to a lot of them... I have it limited
to show 25 records per page by default, but it still takes a while to load
everything first and then fi

[2015-09-03 13:37] Mottie commented on #1008
Ok, try these changes...

Save the `$row` being changed:

[code]

Then update the row if the ajax was successful:

[code]

[2015-09-03 13:39] Mottie commented on #273
Ouch, why 50 columns? Can't you break that up into smaller chunks?

Maybe I should make the pager page the columns as well...

[2015-09-03 13:43] crazyserb commented on #273
Client requirements, unfortunately.

And even if I add the Bootstrap "Select Columns" button/option for the
client to select which columns they want to show/hide on load, the full 50
columns are still being loaded initially and then are being filtered down
to select few. Can that be cached somehow or... something?

On Thu, Sep 3, 2015 at 9:39 AM, Rob G <notifications@github.com> wrote:

[2015-09-03 13:43] crazyserb commented on #1006
Beautiful!

Thank you.

On Thu, Sep 3, 2015 at 7:29 AM, Rob G <notifications@github.com> wrote:

[2015-09-03 13:46] Mottie commented on #273
What is causing the biggest delay? Can you initialize an empty table, then slowly fill it so the user doesn't experience a blank page?

Also, have you tried the editable widget? I don't know if x-editable might be contributing to that long initialization time.

[2015-09-03 14:31] don750421 commented on #1008
Thanks @Mottie
If used the your method.
Is these only change the row that user selected?
all of the setup (contain sort , filter?)will be update ?
because the user change data inside the tablesorter is on the sixth column,
if the change only update the row ,and the table is filter by desc will fail..

so . may i have any method to tirgger update all of the table with ajax ?
or i have any method to

[2015-09-03 14:48] Mottie commented on #1008
Maybe use [`addRows`](http://mottie.github.io/tablesorter/docs/#addrows)?

[2015-09-03 18:30] patilprajaktab opened #1009 "Table Pagination not showing {startRow} to {endRow} ,until number of rows to be displayed are shown."
I am using table Pagination of table sorter, but untill I do not select number of rows to be displayed the startrow to endrow is not displayed in input class.

[2015-09-03 23:44] Mottie commented on #1009
Hi @patilprajaktab!

Can you provide a demo of the problem?

Modify one of these: pager [addon](http://jsfiddle.net/1a5yu8yq/) / [widget](http://jsfiddle.net/yfwwzvL8/)

Because I am not seeing the problem in either the [pager addon](http://mottie.github.io/tablesorter/docs/example-pager.html) or [pager widget](http://mottie.github.io/tablesorter/docs/example-widget-pager.html) demos.

[2015-09-04 01:54] tubedogg commented on #946
I'm actually having a very similar issue. In my case, I'm initializing tablesorter (`initTablesorter` function in the code below) then adding the math widget later.

This works just fine (noting the lack of `math_priority`):
[code]
The following causes an error _unless_ I define `math_priority` in the `mathOptions` object, and in that case, it doesn't error, but it also doesn't actually do the mat

[2015-09-04 03:05] Mottie commented on #946
Hi @tubedogg!

Thanks for sharing! I'll take another look at this on the weekend.

[2015-09-04 03:56] crazyserb commented on #273
I'm playing around with loading times, pieces that are being called and
loaded to figure out what's bringing it to a crawl...

And I've looked at the editable widget (you're referring to this?
https://mottie.github.io/tablesorter/docs/example-widget-editable.html) but
it was very rudimentary and basic, and didn't offer most of the features I
found available in x-editable:
http://vitalets.github.io

[2015-09-05 14:42] #946 closed

[2015-09-05 14:43] Mottie commented on #946
Ok @tubedogg & @clod986! This issue should be all fixed now.

Thank you for your patience!

[2015-09-05 15:34] Mottie commented on #1007
Ahh, ok I found it: http://davidstutz.github.io/bootstrap-multiselect/

If you select more than `numberDisplayed` options, it will display "# selected" instead of a list of all the options.

Right now, you'll need to write custom `filter_formatter` code to incorporate that plugin. But, I started work on a new `filter_customVal` option which will essentially replace the `filter_formatter` function

[2015-09-06 21:02] crazyserb commented on #1007
Yeah, writing a custom filter_formatter is way above my head at the
moment... so if you ever pull that off yourself, for this type of
functionality, let me/us know so we can update the code on our end. Or if
you are open to that, can I hire you/pay you to do this for me, for the
time being?

On Sat, Sep 5, 2015 at 11:34 AM, Rob G <notifications@github.com> wrote:

[2015-09-07 09:28] likedo opened #1010 "Populate select filter column with Ajax"
Hi, thanks for the support.
I get the test JSON with Ajax and return it:

[code]

The JSON is: `{"options":["a","b","c"]}`

How do you fill the select with the json?

Thanks!

[2015-09-07 12:36] Mottie commented on #1010
Hi @likedo!

It appears that the `filter_selectSource` is being used correctly and should fill the select with that array returned by JSON.

If it isn't working:

* Are you seeing any errors in the console?
* Is `2` the correct zero-based column index?
* Does that column have `filter-select` class name added? Or set the [`filter_functions` option](http://mottie.github.io/tablesorter/docs/example-w

[2015-09-07 13:07] likedo commented on #1010
Hi, thanks for your answer.
You are right, i was quick to respond :).

I did more tests and will answer your questions.

The first example works (without ajax):

filter_selectSource : {
        		// Alphanumeric match (prefix only)
        		// added as select2 options (you could also use select2 data option)
        		2 : function(table, column) {
          			return ['1', '2', 'bla bla'];

[2015-09-07 13:15] Mottie commented on #1010
Hmm, I just did some testing and I think the problem might actually be in the filter widget... let me investigate further.

[2015-09-07 14:24] likedo commented on #1010
Ok! Thanks for the support :)

[2015-09-07 19:04] Mottie commented on #1010
Well, the method I have in the docs doesn't work, change the `filter_selectSouce` to something like this:

[code]

I'll update the docs to reflect this change.

[2015-09-07 19:57] likedo commented on #1010
Thanks!
With this code now appears an error in console:
"Uncaught TypeError: Cannot read property 'length' of undefined" ----- jquery 2.1.1 line 2.

Do you agree?

[2015-09-07 20:03] Mottie commented on #1010
Yeah, I forgot to include a `return false` when I first posted the solution... it's in the code now.

[2015-09-07 20:08] likedo commented on #1010
Oh it is true ! Thanks!

[2015-09-07 20:52] Mottie commented on #1010
I just split out some code & made it into a new function:

[code]

This function basically sorts & removes duplicates from the array. I did this because in [this demo](http://jsfiddle.net/Mottie/uwZc2/52/), filltext.com is used to provide random ajax data, but the content is provided unsorted, and the filter doesn't work - filltext doesn't provided this server-side functionality.

[2015-09-08 08:48] likedo commented on #1010
Great works!
Last question...I can separate the values ​​of the select between "value " and "text "?

<select>
    <option value="1"> Test 1 </option>
    <option value="2"> Test 2 </option>
</select>

...because the value is a fk table and the "text" is description field of table. Can be done changing the JSON returned?

as well:

<?php
$arr = array('1','2','bla');
echo json_encode(array('options

[2015-09-08 12:34] Mottie commented on #1010
I'm not so good with php, but you could just return JSON that looks like this:

[code]

or, you could simplify the JSON by letting the [`filter_selectSourceSeparator` option](http://mottie.github.io/tablesorter/docs/#widget-filter-selectsource-separator) do the work and return data like this:

[code]

[2015-09-08 13:06] likedo commented on #1010
Perfect!
This method { "data": [ "a|1", "b|2", "c|bla" ] } works correctly!
Thanks for now!

[2015-09-10 16:53] hometownnerd opened #1011 "How to have a tooltip on the header that uses aria-label"
I have been trying to find out how to set the tooltip equal to the aria-label, even just simply using the title of the th would be fine, but I cannot get it to do that. I know I am missing something somewhere.

[2015-09-10 17:11] Mottie commented on #1011
Hi @hometownnerd!

Check out the [`headerTitles` widget](http://mottie.github.io/tablesorter/docs/example-widget-header-titles.html) which should help you out.

[2015-09-10 17:13] hometownnerd commented on #1011
Awesome! Thanks a bunch! Love this fork, by the way!!

[2015-09-10 17:14] Mottie commented on #1011
Thanks! I'm glad people are finding it useful :grin:

[2015-09-10 17:17] hometownnerd commented on #1011
one more question....I am trying to disable the sort on a leading and trailing header row....I have tried setting the  class = "sorter-false" and tried to remove the tablesorter-header class and it still wants to put the arrows on those rows. How can I get the rows to not show the arrows?

[2015-09-10 17:22] Mottie commented on #1011
When setting `class="sorter-false"`, it is actually the lowest priority setting - check out [this demo](http://mottie.github.io/tablesorter/docs/example-options-headers.html). So what that means is if you have a `headers` setting that sets a parser for that column, it will override that class.

If you shared the HTML of the `thead` and the initialization code, I might be able to help find the prob

[2015-09-10 17:27] hometownnerd commented on #1011
This is my thead....
<thead>
		<tr style="color:White;background-color:#005480;" role="row" class="tablesorter-headerRow">
			<td class="sorter-false tablesorter-headerUnSorted" colspan="12" style="font-weight: bold; -webkit-user-select: none;" data-column="0" tabindex="0" scope="col" role="columnheader" aria-disabled="false" aria-controls="ctl00_ContentPlaceHolder1_tblAccts" unselectable="on" ari

[2015-09-10 17:34] Mottie commented on #1011
I'm not sure why the "sorter-false" isn't working in this case, but since those two rows are separate from the others, you can add a "tablesorter-ignoreRow" class to the `<tr>` (see [`cssIgnoreRow`](http://mottie.github.io/tablesorter/docs/index.html#cssignorerow)).

[2015-09-10 17:37] hometownnerd commented on #1011
Awesome! That is perfect! thanks a bunch!

[2015-09-10 17:39] Mottie commented on #1011
Actually, maybe it is because the `headers` option has a parser set... like in [this example](http://jsfiddle.net/Mottie/856bzzeL/641/)
[code]

[2015-09-10 17:39] Mottie commented on #1011
No problem, glad to help.

[2015-09-10 18:39] hometownnerd commented on #1011
Now I am feeling like a bit of an idiot, I am not getting the headers to work. If I have it figured out right it should populate tooltip into the tableheaders on its own, correct? It seems like it is not doing that, but on top of that the tooltip is not showing up even when I manually add that class. I am not getting any console errors and it seems like the widget is initializing properly. Argh, s

[2015-09-10 18:45] hometownnerd commented on #1011
Nevermind....I was being an idiot...I needed the tipsy css file. Sorry if I bothered you.

Have a great day!

[2015-09-14 07:58] rancor1223 opened #1012 "Remembering Filtered data containing spaces"
Hi,
I'm having trouble with remembering filters containing spaces.

If for example I have a column with full names (e.g. Jon Doe), it won't save the filter. I'm using the code you posted in issue #146.

Is that a problem on my side or does the script not support such thing?

[2015-09-14 16:51] Mottie commented on #1012
Hi @rancor1223!

In v2.14, a [`filter_saveFilters` option](http://mottie.github.io/tablesorter/docs/#widget-filter-savefilters) was added which saves the filters for you automatically when set to `true` (default is `false`).

You can test [this demo](http://mottie.github.io/tablesorter/docs/example-widget-filter-any-match.html) by entering `n c` in the "First Name" column, or `y j` in the "Last Na

[2015-09-15 22:56] feluraschi opened #1013 "Add ZenHub to readme?"
Hey, I'm on the ZenHub.io team. I noticed this repo uses ZenHub task boards to organize issues.

To help contributors know to check the task boards for current priorities, what do you think about adding the ZenHub badge to your ReadMe (or contributor guidelines)? I'm happy to create a PR. A lot of people don't know ZenHub is free for open-source users :smile:

Thoughts?

[2015-09-15 23:58] Mottie commented on #1013
Hi @feluraschi!

Sure, I can add a badge, or you can submit a PR. Either way it'll get done.

[2015-09-16 00:02] feluraschi commented on #1013
Thanks @Mottie! I'll submit a PR :)

[2015-09-16 00:05] feluraschi commented on #1013
Thanks @Mottie :) Whatever is easiest for you! I'd be happy to submit a PR, where is a good place to include the badge?

[2015-09-16 00:07] Mottie commented on #1013
I got it, no worries ;)

[2015-09-16 00:11] feluraschi commented on #1013
Sounds good @Mottie :)

[2015-09-16 00:14] Mottie commented on #1013
Done

[2015-09-16 00:14] #1013 closed

[2015-09-17 06:26] rancor1223 commented on #1012
Ah, that works nice.

However, I forgot to mention I'm trying to save 'select2' filters. And now that I think about it, that probably means there is not much you can do about it since it's an external plugin, right?

[2015-09-18 10:21] fcferreira29 opened #1014 "tablesorter instantiate more than one time"
I am having an issue with the instatiation of the tablesorter,

since i have 2 tabs in my page, and i just implemented the group-date-day,

the problem is that this only is applied in the first tab, on the second one is not having effect, how can i make it work

[2015-09-18 10:21] fcferreira29 opened #1015 "group-date-day issue"
can i group the date by day and day of the week? (it would be very helpfull to have this option) like (Out 18 Friday) something like this.

[2015-09-18 10:23] fcferreira29 opened #1016 "Month problem"
i am having a problem with the month,

is there a way to change the array of months?
because it starts with 0,1,2,3,4.....
but we need it to be 1,2,3,4,5 (because we are using natural numbers, without the zero)

[2015-09-18 10:54] fcferreira29 opened #1017 "activate or disable group widget"
is there a way to activate the group only for a restricted group of tables?

i have implemented the group widget, and inserted the options on the tablesort main file,

the problem is that the group is applied on all tables, and i want to choose witch has or has not the group effect,

Thanks

[2015-09-18 11:44] Mottie commented on #1014
Hi @fcferreira29!

Please provide more details and share the code being used.

There is a demo showing [how to use tablesorter with jQuery UI tabs](http://jsfiddle.net/Mottie/abkNM/786/) on the [Home wiki page](https://github.com/Mottie/tablesorter/wiki). That page contains numerous demos and might help provide guidance for any future questions.

[2015-09-18 11:48] Mottie commented on #1015
Hi @fcferreira29!

If you look at the [group widget demo](http://mottie.github.io/tablesorter/docs/example-widget-grouping.html#slider1), there is a date slider. Set it to "group-day-week" and you'll see that it sorts by day of the week.

Note that if you want to actually group the days of the week together, then you'll need to use the weekday parser (see [parser-date-weekday.js](https://github.co

[2015-09-18 11:49] Mottie commented on #1016
Hi @fcferreira29!

Please provide the code being used.

[2015-09-18 11:53] Mottie commented on #1017
Hi @fcferreira29!

Please provide the code being used.

If I had to guess at a solution for you, I would tell you to try adding "widget-group" to the table class name instead of defining it in the `widgets` option. The class name description and template can be modified using the [`widgetClass` option](http://mottie.github.io/tablesorter/docs/#widgetclass).

[2015-09-18 12:00] Mottie commented on #1017
The next time you have a bunch of questions, please try one of the [methods to get support](https://github.com/Mottie/tablesorter#questions). I would prefer to keep this "issues" section limited to problems with the code, or to enhancement requests. Thanks!

[2015-09-18 14:30] pankajkumar45 opened #1018 "Internet Explorer 10 - Sticky header is jumping when attached to its parent"
Open demo URL [http://mottie.github.io/tablesorter/docs/example-widget-sticky-header.html](http://mottie.github.io/tablesorter/docs/example-widget-sticky-header.html) in internet explorer 10 and go to section **Attach sticky header to its parent**.
Notice that sticky header is jumping when scrolling table.

Can you please provide a fix for the same asap.

Thanks in advance.

[2015-09-18 17:21] Mottie commented on #1018
Hi @pankajkumar45!

I'll try to look into this issue again this weekend.

[2015-09-22 04:38] LPology opened #1019 "IE9 console bug"
The presence of `console.log` instead of `window.console.log` is triggering a known IE9 bug that can kill all Javascript execution on the page.

More info in this Stackoverflow thread: http://stackoverflow.com/questions/7742781/why-javascript-only-works-after-opening-developer-tools-in-ie-once

The fix is very simple. Just replace all instances of console functionality, including `console.log`, `c

[2015-09-22 04:50] thezoggy commented on #1019
or just use a proper console wrapper?

[2015-09-22 04:52] LPology commented on #1019
I suppose that depends on what you mean by "proper console wrapper."

[2015-09-22 04:54] thezoggy commented on #1019
many legacy browsers dont have a console or dont have one loaded all the time. i guess we could just force the use of one by including one, but its simple enough to just add/most people already have one they use.

[2015-09-22 05:03] Mottie commented on #1019
I do define `console` in tablesorter ([ref](https://github.com/Mottie/tablesorter/blob/master/js/jquery.tablesorter.js#L2091-L2099)):

[code]

What do I need to change to fix it?

[2015-09-22 05:07] LPology commented on #1019
Working on it right now. It may be simpler than I initially thought. This <em>may</em> do it:

[code]

So far just adding `window` in front of `console` on line 2092 seems to be fixing it.

[2015-09-22 05:08] thezoggy commented on #1019
@Mottie I would suspect you could just change:
`console = {};`
to:
`console = (window.console = window.console || {});`

[2015-09-22 05:11] LPology commented on #1019
@thezoggy That won't work because there's a call to `console` on 2092 that comes first. When that gets executed it's throwing the error.

[2015-09-22 05:12] Mottie commented on #1019
Yeah, I just saw that in the Stackoverflow comments... IE needs `window.console` to not throw an error... sheez!

Ok, I'll have an update pushed to the master in a sec.

[2015-09-22 05:13] thezoggy commented on #1019
@LPology why i said that you could just drop that check and just use the line i noted first

[2015-09-22 05:15] Mottie commented on #1019
No, I need that check... it puts a different log system into place since there isn't a console...

`$.tablesorter.logs` will contain all logs instead of things being displayed in the console.

[2015-09-22 05:17] #1019 closed

[2015-09-23 05:14] Bratzilla opened #1020 "Search results return child rows that do not match search criteria"
Hello, and apologies in advance if this was already documented. I have spent days looking through the official and unofficial documentation but didn't see what I was looking for.

I have integrated Tablesorter into my Joomla app, and am using it for custom category management for that component. Everything has gone very smoothly. However, when testing the search, there is one maddening quirk. Basi

[2015-09-23 13:01] Mottie commented on #1020
Hi @Bratzilla!

I added a new option `filter_childWithSibs` option with a demo and everything... but I'm not quite done with all the documentation. I'll have it available in the master soon - I have to run right now :crying_cat_face:

[2015-09-23 15:26] Mottie commented on #1020
Ok, all done!

New version available & [here is a demo](http://mottie.github.io/tablesorter/docs/example-widget-filter-childrows.html) that lets you toggle the [`filter_childWithSibs` option](http://mottie.github.io/tablesorter/docs/index.html#widget-filter-child-with-sibs).

[2015-09-23 15:28] Bratzilla commented on #1020
Hey, thanks so much! I will test it this evening and report back.

[2015-09-23 15:29] #1010 closed

[2015-09-24 03:08] Bratzilla commented on #1020
Hello again. I've just finished testing the revision. The good news is that the correct child rows now appear in searches. The problem now is that **parent** categories are completely excluded in search results.

If you test the demo page, and do a search for France or UK (both of which exist), you'll see that neither of these terms now appear if you search for them. For obvious reasons, because p

[2015-09-24 03:45] Mottie commented on #1020
Hmm, ok try the update I am about to push to the master branch.

[2015-09-24 03:47] Bratzilla commented on #1020
Will do in just a bit... putting out a fire. :)

[2015-09-24 05:29] Bratzilla commented on #1020
I managed to squeeze in some basic testing. The code does seem to work, but documentation is really going to be critical to get this working right. Using the settings in the demo yields the right results, but care has to be taken when setting any of the "filterchild"-type settings. When I started playing with those, things got... interesting.

Of course, as you can tell by my data, this is just te

[2015-09-24 11:09] fcferreira29 commented on #1016
is there a way to change this array?

group_months      : [ "Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez" ],

when we output the array it starts with a 0 and we want it to start as 1,2,3,4....

[2015-09-24 11:14] fcferreira29 commented on #1014
the problem is when we load the page the 1st Tab has the group working, but when we change to the second tab the group is not in effect,

we are making instances to more than 1 tablesorter, because we may have more than 1 tab,

is there a possibility that is having conflict with one another tab?

Thanks,

Fabio Ferreira

[2015-09-24 13:15] Mottie commented on #1016
The group widget is set up to use zero-based indexing on that setting, so it should work correctly. In javascript when you use [`.getMonth()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/getMonth), it returns a zero-based index value, so that is why it is set up that way.

If you share the code you are using, I could help; but the basic solution is to take

[2015-09-24 13:19] Mottie commented on #1014
The group widget only works on visible rows, so if all rows are hidden inside a tab, then once that tab is active, you'll need to trigger an 'applyWidgets' event on the table to re-apply the group setting. The code from the demo I shared above will take care of that problem.

[2015-09-24 13:30] Mottie commented on #1020
Yeah, you need all three setting to make that demo work properly.

### `filter_childRows`
* `false` (default) - ignore all child row content
* `true` -  Appends all child row content to each column while searching

### `filter_childByColumn`
* `false` (default) - all child row content added to each column
* `true` - search child row content by column

### `filter_childWithSibs`
* `true` (default)

[2015-09-24 17:22] southmeadows opened #1022 "Print Function - how to trigger?"
I have an existing tablesorter working great. I am trying to add the print function. I copied the widget options from the documentation as well as the div for the print button.

However I do not understand how the code from the documentation below triggers anything?
   << div class="print button">>Print<</div>>

I dont have a "print button" class and dont see that in the docs. I am guessing I need

[2015-09-24 17:27] southmeadows opened #1023 "resizing doesnt work if table fills screen"
If I have too many columns such that horizontal scrolling is enabled in the browser then the column resizing doesnt work. If I change the table so it less columns then resizing seems to work ok.

[2015-09-25 00:32] Mottie commented on #1022
Hi @southmeadows!

If you look at the [print widget demo](http://mottie.github.io/tablesorter/docs/example-widget-print.html#method) under "method" you'll see this:

[code]

[2015-09-25 02:09] Mottie commented on #1023
Hi @southmeadows!

If the table wrapper has a css `overflow` set to `auto` or `scroll`, then it should work. If your table doesn't have a wrapper, then you need to explicitly set the body to have an overflow ([demo](http://jsfiddle.net/Mottie/856bzzeL/654/)):

[code]

Script

[code]

[2015-09-25 05:08] Bratzilla commented on #1020
Hello again. I haven't had a chance yet to pull your latest updates. I think I may have found another glitch but I'm not sure if it's related to this current  issue.

I am using the following code for the table and for the pagination toggle:

    var $caTable = $( "#categoryList" )
					.tablesorter({
						theme : "metro-dark",
						sortLocaleCompare: true, // needed for accented characters in t

[2015-09-25 15:43] Mottie commented on #1020
It works for me - ([demo](http://jsfiddle.net/Mottie/1a5yu8yq/78/))... anyway, I would recommend using the methods to enable & disable the pager.

[2015-09-25 16:10] Bratzilla commented on #1020
Good morning. I am downloading your latest files and about to retest. I checked the demo and have the same settings, so at this point I'm stymied. It's probably something really silly on my part. Anyway I'll report back soon.

[2015-09-25 16:31] Bratzilla commented on #1020
Actually, the problem DOES exist. Take a look now:

http://jsfiddle.net/1a5yu8yq/79/

I just updated your demo by removing all other parent/child groupings so that the table now looks in structure just like my own (that is, only one parent with children). As you can see, regardless of pager method, when you toggle, only the parent shows.

[2015-09-25 17:18] Mottie commented on #1020
Ok, try this latest update.

[2015-09-25 17:24] Bratzilla commented on #1020
Has it been updated in the demo?

[2015-09-26 13:54] Mottie commented on #1018
Sorry, I don't think it is possible to fix this issue...

If `position:fixed` is used, yes, the sticky header remains at the top of the window and even inside of vertically overflowed containers. But if the container has any horizontal overflow, the overflowed portion of the header is not hidden, because of `position:fixed`.

Using `position: absolute` and adjusting the top position while scrollin

[2015-09-26 13:55] #983 closed

[2015-09-28 15:08] toesus opened #1026 "Filter Storage does not work if using cookies and storing a '=' character"
I am using IE9 with a local file. The storage defaults to cookies. If i use a '=' in the filter widget, I get the error message "SCRIPT1015: Unterminated string constant".

I suppose this is due to the way the cookie data is loaded:
[code]
The cookie is split at '=' characters, and thereby breaks the json-data.

Most other examples of cookie-loading seem to split the data only on ';' and then look

[2015-09-28 15:42] Mottie commented on #1026
Hi @toesus!

Thanks for reporting this problem. I'll try to look at fixing this later tonight.

[2015-09-29 12:08] osterhase90 commented on #872
How can I use it for more columns with math-widget?

[2015-09-30 15:11] pankajkumar45 commented on #1018
Thanks For your valuable suggestions, i will let you know as soon as i am done with implementation.

[2015-10-05 07:25] OmgImAlexis opened #1028 "Wrong css included in bower.json"
The css file linked to is `dist/css/theme.blue.css` yet it only ships with minified files, shouldn't it point to `dist/css/theme.blue.min.css`?

[2015-10-05 10:59] fcferreira29 opened #1030 "Problem using applyWidgets to apply grouping"
Hello,

i am struggling with appluWidgets, i am trying to add the group widget when the page loads (because i want to have the group applyied to only some tablesorters)

here is the code i am using,

[code]

and here is the error i am having,

wo.group_forceColumn is undefined

[code]
widget-grouping.js

i havent touched the widget so the line of the error is 63

Thanks,

Fábio Ferreira

[2015-10-05 12:17] don750421 opened #1031 "How to used the header from AJAX with json format"
Sorry,I am pending some test since Aug.
I have a question in https://github.com/Mottie/tablesorter/issues/985
and I want to fix my code with your update version now.
but I don't know how to dynamic used the header from AJAX

Because I want to used a page let user key in the SQL Command.and the tablesorter will show query result.but user SQL command and query column is non-fixed.
so I has not fix t